@charset "UTF-8";
.jeux{		
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
    background-position: center !important;    
    background-size: cover !important;
    min-height: 400px !important;
	background-size: 100% !important;
	padding-top: 0em !important;
	padding-bottom: 10em !important;
}
.w100{
	width: 100%;
}
.bg-game{
	width: 100%;
	text-align: left;
	padding: 0 15px;
}
.logo-game{
	width: 22%;	
	margin-bottom: 29px;			
	margin-right: 3em;
	align-self: center;
}
.logo-game img{
	max-width: 280px;
	width: 100%;
}
.jeux h2{
	font-family: "russo one";
	font-size: 45px ;
	width: 100%;
	text-align: center;	
	padding-top: 35px;
	font-weight: 200;
	text-transform: uppercase;
}
.firstblock, .lastblock{
	display: flex;
	padding: 15px;
}
.lastblock{
	
}
