@charset "UTF-8";
.communaute{
	padding-top: 30px;
}
.auto{
	max-width: 1000px;
	width: 100%;
	margin: auto;		
}
.aside-left{
	max-width: 200px;
	width: 100%;
	display: inline-block;
	padding-right: 15px;
	vertical-align: top;
	
}
.center-block{
	width: 60%;
	background: #ffffff;
	display: inline-block;

}
.center-block h2{
	color: #000000;
	text-align: center;
	font-family: "Russo One";
	font-weight: lighter;
	text-transform: uppercase;

}
.aside-right{
	width: 20%;
	display: inline-block;
	padding-left: 15px;
	vertical-align: top;
}
.aside-right .friend-avatar{
	width: 25px;
	height: 25px;
	border:1px solid #ffff;
	border-radius: 50%;
}

.aside-right p, .aside-right span{
	font-size: 12px;
}
.aside-right .friend-list, .aside-right .subjectforum{
	background: #2c2c2c;
	padding: 5px 5px;
}
.subjectforum{
	margin-top: 15px;	
}
.subjectforum p{
	padding: 5px 5px;
}
.subjectforum i{
	float: right;
}
.aside-right .friend-list img{
	display: inline-block;
	vertical-align: middle;	
}
.aside-right .friend-list i{
	float: right;	
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}
.friend-list span{
	display: inline-block;	
	margin-left: 5px;
}
.aside-left .game-select{	

}
.game-select p{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
	text-shadow: 5px 5px black;
}
.aside-left .game-bg{
	padding: 21px 5px;
	border-bottom: 1px solid gray;
}
.bg-cod{	
	background: url("../../assets/image/war-zone.jpg") no-repeat;
	background-size: 100%;
	background-position-y: -26px;
}
.bg-rl{
	background: url("../../assets/image/rocketleague.jpg") no-repeat;
	background-size: 100%;
	background-position-y: -41px;
}
.bg-ft{
	background: url("../../assets/image/fortnite.jpg") no-repeat;
	background-size: 100%;
	background-position-y: -13px;
}
.stream-container{
	margin-bottom: 15px;
}
.stream{
	background: #2c2c2c;
	margin-top: 15px;
	padding: 12px;
}
.streaming{
	max-width: 124px;
	width: 100%;
	display: inline-block;
}
.streaming img{
	
	
}
.stream-info{	
	display: inline-block;
	margin-left: 15px;
    vertical-align: top;
}
.stream-info p{
	font-size: 12px;    
    padding: 4px 0px;
}
.streamgame{
	font-style: italic;
}
.stream .view{
	font-size: 14px;
}

