@charset "UTF-8";
.popup-content{
	background: #1f1f1f !important;
	font-family: "quicksand regular" !important;
	border-color: gray !important;
}
.communaute{
	padding-top: 30px;
}
.auto{	
	width: 95%;
	margin: auto;	
	margin-bottom: 30px;
	position: relative;
}
.aside-left{
	width: 20%;	
	display: table-cell;
	padding-right: 15px;
	vertical-align: top;
	
}
.center-block{
	width: 60%;
	display: table-cell;
	margin-bottom: 15px;	
}
.center-block h2{
	padding: 15px 0;
	color: #ffffff;
	text-align: center;
	font-family: "Russo One";
	font-weight: lighter;
	text-transform: uppercase;
}
.aside-right{
	width: 20%;	
	display: table-cell;
	padding-left: 15px;
	vertical-align: top;
	position: relative;
}
.aside-right p{
	margin-bottom: 5px;
}
.aside-right .friend-avatar{
	width: 35px;
	height: 35px;
	border:1px solid gray;
	border-radius: 50%;
}
.aside-right p, .aside-right span{
	font-size: 13px;
}
.aside-right p i{
	font-size: 20px;
}
.aside-right p i.rect{
	border: 1px solid #c4c4c4;
    padding: 1px;
    margin-right: 7px;
    display: inline-block;
    height: 16px;
    line-height: 10px;
    vertical-align: top;
    margin-top: 6px;
    font-size: 12px;
}

.aside-right .subjectforum{
	margin: 0 15px;
	padding: 5px 5px;
	border-bottom: 1px solid gray;
	position: relative;
	height: 37px;
	transition: 500ms ease-in-out;
	overflow: hidden;	
}
.subjectforum .seek{
	padding: 12px 5px;	
	width: 100%;
	top: 38px;
}

.subjectforum .seek a{
	display: block;
	font-size: 12px;
	font-style: italic;
	padding: 5px 0;
}
.subjectforum:hover{
	height: 171px;
	transition: 500ms ease-in-out;	
}
.subjectforum .underlined{
	border-bottom: 1px solid gray;	
	padding-bottom:11px;
	padding-left: -5px;
}

.subjectforum:last-child{
	border-bottom: none;
}
.subjectforum p{
	padding: 5px 5px;
	position: relative;
}
.subjectforum i{
	position: absolute;
	right: 5px;
	top: 0;
}
.friend-list-container{
	background: #2c2c2c;
	height: 204px;
	overflow: auto;
}
.friend-list{
	border-bottom: 1px solid gray;
	margin: 0 15px;
}
.friend-list-container .friend-list:last-child{
	border: none;
}
.aside-right i.u-connected, .aside-right i.u-disconnected{
	display: inline-block;
	height: 7px;
	width: 7px;	
	border-radius: 50%;
	float: none !important;
	clear: both !important;
	margin-left: 15px;
	margin-top: 5px;
}
.aside-right i.u-connected{
	background: #1abb3d;
	border: 1px solid #1abb3d;
}
.aside-right i.u-disconnected{
	background: #dd0000;
	border: 1px solid #dd0000;	
}
.friend-list div{
	padding: 2.8px;
}
.friend-list.noborder{
	border-bottom:none;
}
.aside-right .friend-list img{
	display: inline-block;
	vertical-align: middle;	
}
.aside-right .friend-list i{	
	display: inline-block;
	margin-right: 5px;
	font-size: 10px;
	float: right;
    margin-left: 5px;
}
.aside-right .friend-list .comments{
	font-size: 24px;
}
.friend-list span{
	display: inline-block;	
	margin-left: 5px;
	padding: 5px;
}

.game-select p{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;	
}

.aside-left .game-bg:last-child{
	border-bottom: none;
}
.game-select a {
    display: block;
    padding: 7px 0;
    background: #2c2c2c;
    margin-bottom: 2px;
    height: 39px;
    overflow: hidden;
    transition: 500ms ease-in-out;
}
.game-select a:hover{
	background: #4a4949;
	transition: 500ms ease-in-out;
	height: 171px;	
}
.game-bg{	
    margin: auto;
    position: relative;
    margin-top: 5px;
}
.seek{
	position: absolute;
    width: 100%;    
    top: 27px;
}
/*.bg-cod{	
	background: url("../../assets/image/warzone-logo.jpg") no-repeat;
	background-size: 100%;
	background-position-y: -26px;
}
.bg-rl{
	background: url("../../assets/image/rocketleague.jpg") no-repeat;
	background-size: 100%;
	background-position-y: -41px;
}
.bg-ft{
	background: url("../../assets/image/fortnite.jpg") no-repeat;
	background-size: 100%;
	background-position-y: -13px;
}*/
.stream-container{
	margin-bottom: 15px;
	display: flex;
}
.stream a:last-child .stream-container {
	margin-bottom: 0;
}

.stream{
	background: #2c2c2c;
	/*margin-top: 15px;*/
	padding: 12px;
	height: 260px;
	overflow: auto;	
}
.stream a{
	display: block;
}
.streaming{
	display: inline-block;
	border: 1px solid gray;
	margin-right: 9px;
	width: 130px;
	height: 83px;
}
.streaming img{	
	/*max-width: 65px;
    height: 48px;*/
    width: 100%;
    height: 100%;
}
.stream-info{	
	display: inline-block;
	/*margin-left: 15px;*/
    vertical-align: top;
    width: 100%;
}
.stream-info p{
	font-size: 10px;    
    padding: 0px 0px;

}
.streamgame{
	font-style: italic;
}
.stream .view{
	font-size: 13px;
}
.stream .view i{
	margin-left: 5px;
}
.center-block .actuality{
	width: 100%;
}
.center-block .actuality a{
	display: block;
}
.center-block .article{
	width: 100%;
	margin-bottom: 15px;	
	padding-right: 15px;	

}
.center-block .article img{
	width: 40%;	
	float: left;
	vertical-align: top;
	background: #2c2c2c;
	border-radius: 5px;
	border: 1px solid #2c2c2c;
}
.center-block .article .text{
	float: right;
	width: 60%;	
	padding: 20px;
}
.center-block .article .text p.title{
	font-size: 20px;
}
.center-block .article p{
	font-size: 14px;
}

.center-block .article .readmore{
	font-weight: 700;
	font-size: 14px;
	color: #f5cc22;
	font-style: normal;
	text-transform: uppercase;
	padding: 15px 0;
}
.forum-container{	
	background: #2c2c2c;
}

.friend-list span.title{
	display: block;
}
.friend-list p{
	padding: 10px;	
}
.friend-list p.title{	
	border-bottom: 1px solid gray;
	text-transform: uppercase;
}
.friend-list p.search-friends:hover{
	background: #4a4949;
}
.friend-list p.search-friends span{
	font-size: 15px;
}
.friend-list p.search-friends svg{
	font-size: 14px;
}
.avatar-found{
	width: 57px;
	height: 57px;
	border: 1px solid gray;
	border-radius: 50%;
}
.bar-title{
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
}
.found{
	margin: 15px 0;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	height: 378px;
	overflow-y: auto;
}

.found p{
	display: inline-block;		
	width: 45%;
	margin: 9px 13px;
}
.found img, .found span.profil-name{
	display: inline-block;
	vertical-align: middle;	
}
.found span.profil-name{
	padding: 5px;    
    text-align: left;  
   	font-size: 12px; 
}
.add-friends .found button{
	padding: 7px 15px;
    float: right;
    margin: 12px 0;
    border: none;    
    border-radius: 5px;    
}
.add-friends .found button span{
	font-size: 11px;
}
.found button svg{
	font-size: 14px;	
	margin-right: 15px;
}
.avatar-search-bar input, .avatar-search-bar button{
	padding: 8px;
	border-radius: 5px;
	border:none;
	margin-right: 15px;
	font-size: 12px;
	font-family: "quicksand regular";
	font-weight: bold;
}
.avatar-search-bar{
	width: 90%;
	margin: auto;
	text-align: center;
}
.avatar-search-bar button{
	background: red;	
	font-size: 10px;
	background: none;
	padding: 8px 20px;

}

.avatar-search-bar input{
	width: 60%;
}
.found .btn.bg-yellow{
	background: #383434;
    color: #f2cf1c;
}
/***********************/
.bloc-actus{
	padding: 20px;
	border-bottom: 1px solid gray;
}
.bloc-actus:last-child{
	border-bottom: 0;
}
.se-component.se-image-container.__se__float-none img{
	width: 100%;
}
.actus-name{
	display: flex;
}
.actus-name img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	align-self: center;
}
.actus-name p{
	align-self: center;
	margin-left: 15px;
	font-weight: bold;
}
.actus-name p span{
	display: block;
	font-weight: normal;
	font-size: 13px;
	padding: 5px 0;
}
.actus-content{
	margin-bottom: 30px;
	margin-top: 15px;
}
.actus-content p{
	font-size: 15px;

}
.bloc-actus .img-actus img{
	width: 100%;
}
/****Chat*******************************************/
.tchat{	
	bottom: 0px;	
}
.show-chat{
	display: block;
}
.hide-chat{
	display: none;		
}
.show-chat .close{
	display: block;
}
.show-chat .tchat{
	display: block;
}
/*****************************************************/
.communaute .loader-spinner {
    position: absolute;
    height: 100%;
    background: rgba(0,0,0,0.9);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.communaute .loader-spinner div {
    position: absolute;
    top: 15%;
    margin: auto;
    width: 100%;
    text-align: center;
}
.communaute .loader-spinner div svg{
	width: 30px;
}
.stream{
  scrollbar-color: #dd0000 #000000 !important;
  scrollbar-width: thin !important;  
}
