.center-block .new-post{
	background-color: #efefef;
	border-radius: 7px;
	overflow: hidden;
	padding-right: 6px;
	padding-left: 6px;
}
.new-post .post-icon{
	color: #777778;
	margin-bottom: 11px;
	padding-bottom: 11px;
	position: relative;
    padding-top: 31px;
}
.new-post .new-post-title {
	font-size: 14px;
    color: #000;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: 1px solid;
    padding-top: 6px;
}
.post-icon .poster{
	padding: 4px;
	font-size: 11px;
	position: absolute;
	bottom: 0;
	right: 0;
	text-transform: none !important;
}

.post-icon .icon-lists {
	display: flex;
	width: 50%;
	position: absolute;
	bottom: 0;
}

.icon-lists .f-icons{
	font-size: 19px;
}

.content-new-post{
	height: auto;
	color: #000;
	margin-top: 11px;
	margin-bottom: 18px;
	outline: none;
}
.content-profil{
	display: flex;
	color: #000;
	margin-top: 11px;
	position: relative;
}
.content-profil .img-post{
	width: 57px;
	height: 57px;
	border-radius: 50%;
}

.title-expr{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 71px;
}

.f-icons{
    cursor: pointer;
    margin-right: 9px;
}
.image-videos{
    color: #000;
	border: 1px solid;
	border-radius: 5px;
	height: auto;
	text-align: center;
}
.close-upload{
	float: right;
	font-size: 10px;
	border-radius: 20px;
	margin-right: 9px;
	color: #dd0000;
	cursor: pointer;
}
.post-cnt .bloc-actus{
	border: 1px solid #000;
	margin-top: 10px;
	background-color: #2c2c2c;
}

.content-new-post .emoji-mart-bar{
	display: none;
}
