.post-cnt{
	
}
.rel{
	
}
.center-block .new-post{
	position: relative;
	background-color: #efefef;
	border-radius: 7px;	
    padding: 10px 0;
}
.new-post .post-user{
	padding: 0 20px;
}
.new-post .flex-inline{
	display: flex;
	margin-top: 7px;	
}
.new-post .post-icon{	
    color: #777778;
    align-self: center;
}
.new-post .new-post-title {	
	font-size: 14px;
    color: #000000;
    padding: 6px 0px 7px 10px;    
    border-bottom: 1px solid #bfbfbf;
}
.post-btn{
	width: 100%;
	text-align: right;       
}
.post-btn .btn.poster{
	padding: 7px 15px;
	font-size: 14px;
	font-weight: 600;	
	text-transform: capitalize;	
}

.post-icon .icon-lists {
	display: flex;
}

.icon-lists .f-icons{
	font-size: 19px;
}
.icon-lists .f-icons.active i{
	color: #dd0000;
}

.content-new-post{
	height: 74px;
    overflow: auto;
	color: #000000;
	padding: 10px;
	outline: none;
}
.content-profil{
	display: flex;
    color: #000;
    margin-top: 11px;
    padding-left: 15px;
}
.content-profil .img-post{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.title-expr{
    align-self: center;
    margin-left: 10px;
}

.f-icons{
    cursor: pointer;
    margin-right: 20px;
}
.image-videos{
	width: 53%;
	margin: auto;
    color: #000;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    height: auto;
    text-align: center;
    padding: 9px;        
    
}
.close-upload{
	float: right;
	font-size: 10px;
	border-radius: 20px;
	margin-right: 9px;
	color: #dd0000;
	cursor: pointer;
}
.post-cnt .bloc-actus{
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	background-color: #2c2c2c;
}

.content-new-post .emoji-mart-bar{
	display: none;
}
.new-post .emoij{	    
    width: 33%;
    background: #2c2c2c;
    padding: 15px;
    position: absolute;
    top: 100%;
    left: 95px;
    box-shadow: 0px 0px 12px #000000;
    border-radius: 0 0 5px 5px;    
}
   
.fbEmoij{
	cursor: pointer;
	text-align: center;
	margin-left: 9px;
    margin-bottom: 6px;
}
.emoij .fbEmoij-cnt{
	display: flex;
	flex-wrap: wrap;
}

.fbEmoij-cnt .list-emoij{
	flex-basis: 30px;
}
.fbEmoij img{
	width: 31px;
	flex-basis: 19px;
}
.f-icons img{
	width: 18px;
}