.container .full-container{
	margin-top: 8em;
}

.ban{	
	background: url("../../assets/image/bg-csgo.png") no-repeat;
	background-position: center top;	
	height: 320px;
	margin-top: 20px;
	text-align: center;
}
.ban h2{
	text-align: center;
	width: 100%;
	font-weight: normal;
	text-transform: uppercase;
}
.ban a, .ban span{
	color: #dd0000;
}
.ban span.light-blue{
	color: #0d94c0;
}
.wagers .flag span, .wagers .flag p{
	display: inline-block;
}
.wagers .flag img{
	width: 25px;	
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}
.wagers .container .tabs-content{
	margin-top: 0;
	background: #1d1d1d;
	padding: 0;
}
.wagers .container .tab-league{
	border: none;
}
.wagers .tab-bloc td{
	border-bottom: none;
}
.wagers .tab-bloc td.twitch a{
	background: none;
	color: #ffffff;
}
.view .ban{
	background: url("../../assets/image/csgo.png") no-repeat;
	background-position: center top;
}

.wagers .bg-line{
	background: #000000;
}

.tab-bloc td{
	color: #ffffff;
	font-weight: normal;
}
.tab-bloc td i{
	margin-left: 5px;
}
.tab-bloc span{
	display: block;
	padding-top: 5px;
	text-transform: uppercase;
}
.view .versus-container{
	display: flex;
	height: 100%;
}
.view .team{
	text-align: center;
	width: 100%;
	align-self: center;
}
.view .team .info{
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
	text-align: right;
}
.view .team .info p{
	padding: 5px;
}
.view .team .info p.profilname{
	text-transform: initial;
	font-size: 35px;
}
.view .team .info{
	text-transform: uppercase;	
}
.view .versus-container img{
	width: 80px;
	border: 2px solid #0d94c0;
	border-radius: 50%;
	display: inline-block;
	vertical-align: bottom;
}
.view .live{
	width: 100%;
	text-align: center;	
	margin: auto;
}
.view .name-section p{
	font-size: inherit;
	padding-top: 0;
	padding-bottom: 0;
}
.live p{
	font-size: 45px;
	padding: 45px 0;
}
.view .live span{
	width: 100px;
	margin: auto;
	display: block;	
	font-size: 16px;
	color: #0d94c0;
	border: 2px solid #0d94c0;
	padding: 5px;
	border-radius: 15px;
	text-transform: uppercase;
	font-weight: 700;
}
.view .live button{
	margin-top: 15px;
}
.tab-league{
	display: flex;
}
.tab-league table{
	width: 100%;
	height: 241px;
	margin-right: 5px;
}
.tab-league img{
	width: 30px;
	vertical-align: middle;
	margin-right: 5px;
}
.tab-league .team{
	width: 100%;
}
.tab-league .team1, .tab-league .team2{
	margin-right: 25px;
	background: #2b2b2b;
}
.team th{
	padding: 5px;
}
.team button{
	margin: 10px 0;
}
.lobby .versus-container .team{
	width: 50%;
}
thead{
	background: #000000;
}
.lobby table{
	border-collapse: coll
}
table td a.btn.bg-red{
	background: #dd0000;
	color: #ffffff;
	text-transform: inherit;
}
.container table.tab-bloc tbody tr:hover{
	background: #0c0c0c;
}
