@charset "UTF-8";

footer .wrap{
	text-align: inherit;
	background: #2c2c2c;
	border: inherit;
    padding-top: 17px;
    padding-bottom: 21px;
    margin-top: 5px;
}
footer .rss{
	display: inline-block;
	width: 75%;
	text-align: center;
	vertical-align: middle;
}
footer .rss li{
	display: inline-block;
	padding-left: 30px;
}
footer .rss .size svg{
	height: 30px !important;
	width: 30px;
}
footer .mention{
	display: inline-block;
	vertical-align: middle;
	font-style: italic;
	font-size: 12px;
}

