@charset "UTF-8";

footer .wrap{
	text-align: inherit;
	background: #2c2c2c;
	border: inherit;
    padding-top: 17px;
    padding-bottom: 21px;
    margin-top: 5px;
}
footer .rss{
	width: 100%;
	display: inline-block;	
	text-align: center;
	vertical-align: middle;
}
footer .rss li{
	display: inline-block;
	padding-left: 30px;
}
footer .rss .size svg{
	height: 30px !important;
	width: 30px;
}
footer .mention{
	width: 30%;
	text-align: right; 
	display: inline-block;
	vertical-align: middle;
	font-style: italic;
	font-size: 12px;
	display: flex;
}
.mention span{
	align-self: center;
}
.mention img{
	margin-right: 15px;
	align-self: center;
}


