.leaderboard .main .containt{
	padding-top: 2em;	
	width: 60%;
	margin: auto;
	text-align: inherit;
}
.leaderboard h2{
	text-transform: inherit;	
	text-align: left;
	width: 100%;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 25px;
}
.leaderboard .title-lead{
	margin-top: 25px;	
}
.leaderboard .title-game-list{
	display: flex;
}
.leaderboard .game-list-name{
	align-self: center;	
	width: 100%;
	text-align: center;
}
.leaderboard .game-list-name:first-child{
	text-align: left;
}
.leaderboard .game-list-name span{
	display: block;
	align-self:center;
}
.leaderboard .gamers-stats{
	margin-top: 15px;
	display: flex;
}
.leaderboard .gamers-stats span, .leaderboard .gamer-name-list span{
	display: block;
	width: 100%;
	text-align: center;
}
.leaderboard .gamers-stats span.first, .leaderboard .gamer-name-list span.first{
	text-align: left;
}
.leaderboard .gamer-name-list{
	display: flex;
}
