version : "3.8"
services:
  app: 
    container_name: grind_server
    build: 
      context: ./server
    volumes:
      - ./ :/usr/server
    ports:
      - 9090:9090
    depends_on:
      - db
      - redis
    networks:
      - grind_network
  redis:
    container_name: grind_redis
    image: redis:alpine3.14
    #volumes:
    #  - ./redis/redis.conf:/etc/redis/redis.conf
    ports:
      - 6377:6379
  db:
    container_name: grind_db
    image: postgres:14.1-alpine
    restart: always
    environment:
      POSTGRES_DB: $DB_NAME
      POSTGRES_USER: $DB_USER
      POSTGRES_PASSWORD: $DB_PWD
    ports:
      - '5432:5432' # 5432 default port postgres 
    volumes: 
      - db:/var/lib/postgresql/data
    networks:
      - grind_network
  pg_admin:
    container_name: grind_pg_admin
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - 5353:80 # 80 default port postgres_admin
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    networks:
      - grind_network
  prometheus:
    image: prom/prometheus:v2.36.0
    volumes:
      - ./prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - 9393:9090
    restart: always
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
volumes:
  db:
  pgadmin-data:
  grafana-storage:
  prometheus_data:
networks:
  grind_network: