@charset "UTF-8";
.initpass h2{
	font-family: arial;
	font-weight: 700;
	font-size: 35px;
	text-transform: uppercase;
	padding-bottom: 15px;
}
.initpass .fieldset{
	padding-top: 0;
}
.initpass .field-container{
	max-width: 252px;
	width: 100%;
	margin: auto;
}
.initpass .register-field{
	display: block;
}
.initpass .register-field .center-width{
	width: 100%;
	max-width: inherit;
}
.initpass .register-field span{
	font-style: inherit;
	font-size: 13px;
}
.code-field{
	position: relative;
}
.code-field input{
	padding-top: 17px;
	border-bottom: 2px solid #dd0000;
}
.code-field label{
	position: absolute;
    z-index: 999999;
    top: 1px;
    color: #d00;
    font-family: "russo one";
    left: 5px;						
    font-size: 12px;    
    display: block;
    margin-bottom: 5px;
}
.code-btn{
	display: flex;
}
.code-btn i{
	display: block;
	align-self: center;
	background: #dd0000;
	padding: 8px;
	border-radius: 5px;
	margin-right: 5px;
}
.code-btn .bg-transparent{
	background: rgba(0,0,0,0.3);
	font-family: "russo one";
	border-radius: 5px;
}
