@charset "UTF-8";
.initpass
{
	position: relative;

}
.initpass .main{
	height: 100vh;
}
.initpass h1{
	text-transform: inherit;
	font-size: 24px;
}

.containt{
	margin-top: 50px;
	width: 46%;
	padding-top: 5em;
	margin: auto;
}
.group{
	padding: 15px 45px;
	border-radius: 15px;
	/*position: relative;*/
	background: #2c2c2c
}
.group h1{
	/*position: absolute;*/
	/*background: #101010;*/
    padding: 0 5px;
    top: -20px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.group .logo{
	width: 25%;
}
.group input{
	background: none;
    border-bottom: 1px solid #acacac !important;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    font-size: 14px;
    border: none;
    display: block;
    margin-bottom: 15px;

}
.group h1 img{
	width: 8%;
    float: right;
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
}

.login.initpass .footer
{
	position: absolute;
	width: 100%;
	bottom: 0px;
}

.other-account{
	padding-top: 15px;
	margin-bottom: 10px;
	text-align: center;
}
.other-account span{
	padding: 5px 15px;
	display: inline-block;
	margin-right: 15px;
	margin-top: 15px;
	border-radius: 5px;
	width: 85px;
	border: 1px solid #525050;
	cursor: pointer;
}
.other-account span img{
	width: 15px;
	height: 15px;
}
/*.other-account i.iconG svg{
	width: 70px;
	height: 18px;
	color: #000000;

}*/
.infos p{
	font-size: 13px;
}
.alert-success{
	background: #383434;
	padding: 15px;
	border-radius: 5px;
	margin: 15px auto;
	text-align: center;
	border: 1px solid #525050;
}
.invisible{
	display: none;
}
.visible{
	display: block;
}
.platform svg{
	color: #8c42f4;
	font-size: 20px;
}
.discord svg {
	color: #7289da;
	font-size: 20px;
}
