@charset "UTF-8";
.inscription .main{
	background:linear-gradient( rgba(0, 5, 0, 0.9) 100%, rgba(0, 0, 0, 0.9)100%), url("../../assets/image/background.jpg") no-repeat;
	background-position: 70% center;
	background-size: 100%;
}
.inscription .field-container{
	max-width: 600px;
}
.sideby{
	display: flex;
	width: 100%;
}
.sideby input{
	margin-right: 30px;
}
.sideby span{
	width: 100%;
	margin-bottom: 15px;
}
.sideby input:last-child{
	margin-right: 0;
}
.center-width, .center-width.field-container{
	max-width: 250px;
	width: 100%;
	margin: auto;
}
.center-width button{
	border-radius: 5px;
}
.center-width .birth{
	width: 90%;
	margin: auto;
}