@charset "UTF-8";
.inscription .main{
	background:linear-gradient( rgba(0, 5, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%), url("../../assets/image/redblack.jpg") no-repeat;
	background-position: top center;
	background-size: 100% 100%;
	padding-bottom: 40px;
}
.step a{
	display: inline-block;	
	max-width: 150px;
	padding: 7px;
}
.step a.current{
	font-weight: 700;
}
.step a.current span{
	background: #dd0000;
}
.step span{
	display: block;
	width: 100px;
	height: 5px;
	margin-top: 2px;
	border-radius: 10px;
	background: gray;	
}
.fieldset{
	width: 100%;	
}
.field-container span{
	display: block;
	padding-bottom: 10px;
	font-family: arial;
}
.register-field{
	display: flex;
	max-width: 570px;
	padding: 15px 40px;
	background: rgba(74, 74, 74, 0.5);
	border-radius: 15px;	
	margin: 20px auto;
}
.choice{
	align-self: center;
	width: 48%;
}
.account_type{
	padding-top: 25px;
	max-width: 180px;
	width: 100%;
}
.pad15{
	padding:0 10px;
}
.account_type a{
	max-width: 178px;
	width: 100%;
	display: block;
	margin-bottom: 20px;
}
.account_type img{
	margin-right: 0;
}
.field-container{
	max-width: 600px;
}
.sideby{
	display: flex;
	width: 100%;
}
.sideby input{
	margin-right: 30px;
}
.sideby span{
	width: 100%;
	margin-bottom: 15px;
}
.sideby input:last-child{
	margin-right: 0;
}
.center-width, .center-width.field-container{
	max-width: 250px;
	width: 100%;
	margin: auto;
}
.input-field{
	margin: 0 10px;
}
.center-width button{
	border-radius: 5px;
}
.center-width .birth{
	width: 90%;
	margin: auto;
}
.center-width .check{
	width: 6%;
	float: left;
	margin-top: 3px;	
}
.center-width .major{
	font-size: 11px;
	font-style: italic;
}
.game-list-container{
	margin: 7px auto;
	width: 90%;
}
.game-list-container p{
	margin-bottom: 15px;
}
.favorite-game, .platform-content{	
	justify-content: center;
	flex-wrap: wrap;
}
.favorite-game{
	margin-bottom: 15px;
}
.favorite-game a, .platform-content a{
	margin-right: 25px;
	display: inline-block;
	margin-bottom: 15px;
	border: 1px solid transparent;
	height: 121px;
	transform: translateY(0px);
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   transition: 200ms ease-in-out;
   filter: contrast(0.9);
}
.favorite-game a:hover, .platform-content a:hover

{
   transform: translateY(-10px);
   -webkit-transform: translateY(-10px);
   -moz-transform: translateY(-10px);
   -o-transform: translateY(-10px);
   box-shadow: 4px 4px 20px #dd0000;
   border: 1px solid #dd0000;
   filter: brightness(1);
}
.favorite-game a.selected, .platform-content a.selected{
	transform: translateY(0px);
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
    box-shadow: 4px 4px 20px #dd0000;
   border: 1px solid #dd0000;
   filter: brightness(1);
}


.platform p{
	margin-bottom: 20px;
}
.infos-text p{
	font-size: 13px;
	margin-top: 10px;
}
.infos-text p.submit-btn a{
	text-transform: uppercase;
	font-size: 15px;	
	background: #dd0000;
	padding: 10px;
	max-width: 340px;
	width: 100%;
	margin: 15px auto;
	display: block;
	border-radius: 5px;
	border-radius: 5px;
	border: 1px solid transparent;	
}
.infos-text p.submit-btn:hover a{
	border: 1px solid #dd0000;
	background: #000000;	
}
.infos-text p.submit-btn:hover a{
	color: #dd0000;
}
.account.register-field{
	display: block;
	background: none;
	margin: 0px auto;
}
.account p{
	font-size: 14px;
}
.account .account_type{
	margin: auto;
}