@charset "UTF-8";
.login .main{
	background:linear-gradient( rgba(0, 5, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%), url("../../assets/image/redblack.jpg") no-repeat;
	background-position: 70% center;
	background-size: 100%;
}
.main .containt{	
	padding-top: 5em;
	text-align: center;
}
.account_type{
	margin-top: 25px;
	padding-bottom: 20px;
}
.account_type a{
	font-weight: 500;
	font-size: 12px;
	margin-right: 15px;
	padding: 7px 10px;
	border-radius: 5px;
}
.login .fieldset{
	padding-top: 25px;
}
.field-container{
	margin: auto;
	max-width: 300px;
	width: 100%;
}
.fieldset input{
	display: block;
	padding: 12px;
	width: 100%;
	margin-bottom: 15px;
	border-radius: 5px;
	border: none;
}
.fieldset button{
	width: 100%;
	background: rgba(0,0,0,0.6);
	color: #ffffff;
	border-radius: 0;
	font-size: 12px;
	cursor: pointer;
}
.field-container .infos .member{
	width: 100%;	
	color: gray;
	border-radius: 0;
	font-size: 14px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 7px;
	margin-top: 20px;
	margin-bottom: 25px;

}
.field-container p{
	font-size: 14px;	
}
.account_type img{
	float: left;
	margin-right: 15px;	
}
.account_type .gg{
	color: gray;
	background: #ffffff;
}
.account_type .discord{
	background: #5865f2;	
}
.account_type .discord img{
	margin-top: 3px;
}
.account_type .xbox{
	background: #27c612
}
.account_type .xbox i{
	font-size: 20px;
	float: left;
	color: #000000;
}
.account_type .ps{
	background: #0058ff
}
.account_type .ps img{
	margin-top: 3px;
}
.field-container p.ft-size{
	font-size: 12px;
	margin-top: 15px;
}