@charset "UTF-8";

.relative{
	position: relative;
}
.wrap{
	padding: 6px 35px;
	text-align: center;
	/*position: fixed;*/
	width: 100%;
	border-bottom : 2px solid #f5cc22;
	background: black;
}

.logo{
	max-width: 174px;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}
.imglogo{	
	width: 100%;
}
.navmenu{
	max-width: 785px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
    width: 60%;
}
.navmenu li{
	display: inline-block;
	padding: 0 18px;
}
.navmenu li a{

	font-size: 17px;
	font-family: "Russo One";
}
.v-align{
	vertical-align: middle;
	display: inline-block;
}
.bt-container{
	max-width: 250px;
	float: right;
	margin-right: 10px;
}
.bt-container .btn.bg-white{
	
}
.bt-container .btn.bg-yellow{
	display: inline-block;
	margin-right: 15px;
	margin-top: 2px;
}
.tag{
	max-width: 291px;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

.box{
	max-width: 131px;
	width: 100%;
	display: inline-block;
	margin-right: 17px;
}

.lang{
 width: 28px;
 display: inline-block;
 vertical-align: middle;
 margin-right: 15px;
 position: relative;
}
.lang span a{
	display: block;
}
.lang.gb.show{
	display: block;
}
.lang.gb.hide{
	display: none;
	position: absolute;
	top: 35px;
	z-index: 2;
	padding: 5px;
	background: #000000;
	left: 0px;
	border: 1px solid #4c4d4f;
}
.connex{
	width: 80px;
	display: inline-block;
	vertical-align: middle;

}
.gametag{
	max-width: 143px;
	width: 100%;
	display: inline-block;
	position: relative;
	border: 2px solid #4c4d4f;	
	vertical-align: middle;	
	border-radius: 36px;
	background-position: -2px;
}
.bg-gametag .avatar{
	width: 57px;
	height: 57px;
	border: 2px solid #4c4d4f;
	border-radius: 50%;
	float: left;
	position: absolute;
	left: -2px;
	top: -5px;
}
.bg-gametag p.user{
	width: 100%;
	text-align: right;
	padding-right: 4px;
}
.bg-gametag a{
	display: inline-block;
}
.bg-gametag p{
	font-family: "russo One";
	font-size: 13px;
}
.user-setting{
	position: absolute;
	bottom: 0;
	right: 16px;
}
.itemTag{
	margin: 6px 3px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	position: relative;
	z-index: 3;
	height: auto;
}
.itemTag.drop{
	height: 15px;
}
.lang span{
	display: block;
}
.square{	
	padding: 1px;
    margin-right: 16px;
    display: inline-block;
    height: 16px;
    line-height: 10px;
    vertical-align: top;
    margin-top: 4px;
    position: relative;
}
.square .number{
	background: #ffcb15;
	display: inline-block;
	position: absolute;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	font-style: normal;
	font-size: 12px;
	padding-top: 5px;
    text-align: center;
    top: 12px;
    left: 13px;
}
.header .notification{
	display: none;
	position: absolute;
    background: #101010;    
    right: 263px;
    top: 66px;
    padding: 8px;
    text-align: center;
   	border-radius: 0 0 5px 5px;
   	border: 1px solid gray;
   	opacity: 0;
   	transition: 300ms ease-in-out;

}
.header .notification.show{
	display: block;
	opacity: 1;
	transition: 300ms ease-in-out;
}
.header .notification p{
	font-size: 12px;
	padding: 5px;
	border-bottom: 1px solid gray;
	text-align: left;
	font-style: italic;
}
.header .notification p span.date{
	color: gray;
	margin-left: 5px;
	display: inline-block;
}
.header .notification p:last-child{
	border: none;
}
.header .notification .avatar-found{
	width: 40px;
	height: 40px;
}
.header .notification .profil-name{
	margin-right: 15px;
	font-size: 12px;
	font-style: normal;
}
.header .notification button{
	font-size: 10px;
	padding: 7px;	
	color: gray;
}
.header .notification .bg-white.gray{
	border-color: gray !important;
	color: gray;
}
.header .notification button svg{
	font-size: 13px;
	color: green;
}
.header .notification .bg-white.gray svg{
	color: red;
}
.header .notification button i{
	margin-right: 5px; 
}
.header .notification img, .header .notification button{
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.square svg{
	font-size: 24px;
}

.relative svg{
	color: #fcfcfc;
	background: #bcbcbc;
	width: 31px !important;
	height: 32px;
	padding: 3px;
	border-radius: 50%;
}

.counter{
	position: absolute;
	top: 2px;
	background: #ffcb15;
	display: inline-block;
	width: 19px;
	text-align: center;
	font-style: normal;
	border-radius: 50%;
	left: 23px;
	font-size: 12px;
	padding: 2px;
}
.bg-gametag{
	text-align: right;
	padding: 3px 10px;
	height: 48px;
}
.dropdown{
	display: none;
	position: absolute;
	background: #101010;
	padding: 5px 15px 15px 15px;
	top: 66px;
	z-index: 2;

}

.dropdown.show{
	display: block;
}

.dropdown:before{
  content:"";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #101010;
  position: relative;
  top: -33px;
  left: 30px;

}
.dropdown li a{
	margin-bottom: 5px;
}
.dropdown li a{
	display: block;
	padding: 0 5px;
}

.dropdown li:first-child a:first-child:after{
	content:"";
	display: block;
	width: 100px;
	height: 2px;
	background: #f2cf1d;
	margin: 5px 0px;
}
.dropdown li:last-child a:first-child:before{
	content:"";
	display: block;
	width: 100px;
	height: 2px;
	background: #f2cf1d;
	margin: 5px 0px;
}
.hide {
	display: none;
}
