/********************************************************************************/
@charset "UTF-8";

.tree {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.tree ul.part-one{
	transform: rotate(181deg);
}
.tree ul.part-one li span{
	transform: rotate(178deg);
	cursor: pointer;
}
.tree ul.part-two li span{
	transform: rotate(360deg); 
	cursor: pointer;
}
.tree ul {
	padding-left: 20px; position: relative;   
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: auto;
}

.tree li {
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 5px 0 5px 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; left: 0; bottom: 50%;
	border-left: 1px solid #312f2f;
	width: 20px; height: 50%;
}
.tree li::after{
	bottom: auto; top: 50%;
	border-top: 1px solid #312f2f;
}

/*remove left-right connectors from elements without 
any siblings*/

.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
	.tree li:only-child{ padding-left: 0;}

/*Remove left connector from first child and 
right connector from last child*/
	.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-bottom: 1px solid #312f2f;
	border-radius: 0 0 5px 0;
	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
}
.tree li:first-child::after{
	border-radius: 0 0 0 5px;
	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; left: 0; top: 50%;
	border-top: 1px solid #312f2f;
	width: 20px; height: 0;
}

.tree li span{
	display: flex;
    line-height: 30px;
	border: 1px solid #312f2f;
	padding: 2px 18px;
	text-decoration: none;
	color: gray;	
	font-size: 13px;
	font-weight: 700;
	/*display: inline-block;*/
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.tree li span:hover, .tree li span:hover+ul li span {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}

.tree li span:hover+ul li::after, 
.tree li span:hover+ul li::before, 
.tree li span:hover+ul::before, 
.tree li span:hover+ul ul::before{
	border-color:  #94a0b4;
}
.avatar-team{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #000000;
	margin-right: 5px;
}