/********************************************************************************/
@charset "UTF-8";

.tree {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.tree ul.part-one{
	transform: rotate(180deg);
}
.tree ul.part-one li span{
	transform: rotate(180deg);
	cursor: pointer;
}
.tree ul.part-two li span{
	transform: rotate(360deg); 
	cursor: pointer;
}
.tree ul {
	padding-left: 20px; position: relative;   
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;	
}

.tree li {
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 5px 0 5px 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; 
	left: 0; 
	bottom: 50%;
	border-left: 2px solid #ffffff;
	width: 20px;
	height: 50%;
	z-index: 0px;
}
.tree li::after{
	bottom: auto; top: 50%;
	border-top: 2px solid #ffffff;
}

/*remove left-right connectors from elements without 
any siblings*/

.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
	.tree li:only-child{ padding-left: 0;}

/*Remove left connector from first child and 
right connector from last child*/
	.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-bottom: 2px solid #ffffff;	
}
/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; left: 0; top: 50%;
	border-top: 2px solid #ffffff;
	width: 20px; height: 0;
}
.tree ul ul.no-border{
	padding-left: 0px;
	position: relative;
}
.tree ul.win{
	position: relative;
}
.tree .win span,
.tree .win span
{
	background: #225426;
}
.tree .lose span, 
.tree span.lose
{
	background: #4e2222;
}

.tree ul strong{
    width: 100%;
    font-family: "", sans-serif;
    text-transform: uppercase;    
    bottom: 43px;
    display: block;
    text-align: center;   
}
.tree ul ul.no-border:before{
	border-top: none;
}
.tree ul ul.no-border:after{
	content: '';
	position: absolute; left: 0; top: 50%;
	border-top: 2px solid #ffffff;
	width: 20px; height: 0;
}
.tree li.border:after {    
    left: 100%;
    transform: rotateY(180deg);
}
.part-two::before {
    /* background: red; */
    left: 100% !important;
    position: absolute !important; 
    transform: rotateY(180deg);
}
.tree li span{
	width: 252px;
	background: #2c2c2c;	
	border: 1px solid #312f2f;
	padding: 10px 0;
	text-decoration: none;
	color: #ffffff;	
	font-size: 12px;
	font-weight: 500;
	z-index: 2;	
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.tree li.winner{
	padding-left: 20px;
}
.avatar-team{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #000000;
	margin-right: 5px;
}