/*************/
.undertitle:before{
	height: 60px;
}
.waggers-link a{
	display: inline-block;
	width: 17%;
	margin-right: 10px;
}
.waggers-link a:last-child{
	margin-right: 0px;
}
.waggers-title, .waggers-data{
	background: #2c2c2c;
	margin-top: 5px;
}
.waggers-title p{
	font-size: 13px;
	font-style: italic;
	align-self: center;
}
.waggers-title p span{
	display: block;
}
waggers-title p:last-child{
	text-align: right;
}
.waggers-title, .waggers-data{
	display: flex;
	width: 80%;
	margin: 5px auto;
}

.waggers-title p, .waggers-data p{
	padding: 3px 15px;	
	width: 152px;
	text-align: center;	
}
.waggers-title p:last-child{
	padding-right: 0px;
	text-align: center;

}
.waggers-data p{
	align-self: center;
	font-size: 13px;
	padding: 5px 15px;
}
.waggers-data p:first-child{
	text-align: left;
	font-weight: 700;
	text-transform: uppercase;
}
.waggers-data p:last-child{
	margin-left: 15px;	
}
.waggers-data p:first-child span{
	text-transform: inherit;
}
.waggers-data p span{
	display: block;
	font-weight: 500;
}
.waggers-data i{
	display: block;	
	font-size: 22px; 
}
.wagger-data i svg{
	height: 25px;
	width: 25px;
}
