@charset "UTF-8";
.info .tabs li{
	width: 20%;
}
.info .tabs li a{
	font-size: 15px;
	padding: 5px;
}
.info .tabs li a.active{
	border-bottom: 2px solid #dd0000;
}
.details{
	margin-bottom: 15px;
	display: flex;
}
.details p{
	text-transform: uppercase;
	width: 33.333%;
	display: inline-block;
	text-align: right;
}
.details p.name-target{
	text-align: left;
}
.details span{
	color: #0d94c0;

}
.banniere{
	border-radius: 15px 15px 0px 0px;
}
.banniere img{
	height: 450px;
	width: 100%;
}
.container-rules{
	display: flex;
	margin: 4em 0;
}
.txt{
	padding: 15px;
	border: 1px solid #1d1c1c;
	border-radius: 5px;
	width: 100%;
	display: inline-block;
	margin-right: 15px;

}
p.group-title{
	text-align: center;
    background: #1b1b1b;
    padding: 5px;
    border-radius: 25px;
}
.txt strong{
	font-weight: 700;
	color: #dd0000;
}
.txt p{
	font-size: 15px;
	margin: 10px;
}
.tableau{
	width: 41%;
	display: inline-block;
	vertical-align: top;
	padding: 15px;

}
.tableau .state{
	display: flex;
}
.tableau .state p{
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
    width: 100%;
}
.tableau .state p strong{
	display: block;
	font-weight: normal;
	padding-bottom: 15px;
}
.tableau .state p span{
	font-size: 14px;
	display: block;
	background: #1b1d26;
	padding: 10px;
}
.info-target{
	margin-top: 15px;
	border-bottom: 1px solid #2d2d2d;
}
.info-target p{
	text-transform: uppercase;
	font-size: 15px;
	align-self: center;
	float: left;
	width: 40%;
	text-align: left;
	margin: 0;
}
.info-target span{
	text-transform: initial;
	display: inline-block;
	text-align: right;
	width: 60%;
	padding: 15px 0;
	font-size: 15px;
}
.line{
	border-bottom: 1px solid #2d2d2d;
	display: flex;
}
.info-target .line:last-child{
	border:none;
}
.confirm{
	color: #dd0000;
}
/****************Matches*******************/
.matches h2{
	padding: 15px;
}
.matches{

	border-radius: 5px;
	width: 100%;
	display: inline-block;
	margin-right: 15px;
}
.matches table{
	border-collapse: collapse;
	width: 100%;
}
.matches p{
	font-size: 15px;
	margin: 10px;
}
.matches strong{
	font-weight: 700;
	color: #dd0000;
}
.matches td{

}
.matches .schedule{
	/*width: 43%;*/
	padding-left: 15px;
}
.matches .about-team{
	text-align: center;
}
.matches .vs{
	color: #f2cf1d;
	font-weight: bold;
	/*width: 12%;*/
	text-align: center;
}
.matches span{
	font-weight: 700;
}
.matches span img{
	border: 2px solid #dd0000;
	border-radius: 50%;
}
.matches .versus span{
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
}
.matches tr:nth-child(even){
	background: #101010;
}
.matches tr:nth-child(odd){
	background: #2c2c2c;
}
/****************Teams*******************/
.teams h2{
	padding: 15px;
}
.teams table{
	border-collapse: collapse;
}
.teams table th{
	padding: 15px 0;
}
.teams table td{
	width: 246px;
    text-align: center;
    padding: 15px;
    vertical-align: middle;
}
.teams td img{
	border: 2px solid #dd0000;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.score{
	max-width: 300px;
	background: #2c2c2c;
	width: 100%;
	margin: 15px 0px;
	border-radius: 5px;
	display: inline-block;
	vertical-align: middle;
}
.score th{
	font-size: 25px;
}
.score i{
	display: block;
}
.score i svg{
	width: 30px !important;
	height: 50px !important;
}
.score table th{
	padding: 15px;
}
.score table tr{
	background: inherit;
}
.score .win svg, .score .win{
	color: #96b900;
}
.score .win, .score .lose{
	background: #373535;
}
.score .lose svg, .score .lose{
	color: #cf0023;
}

tr:nth-child(even){
	background: #101010;
}
tr:nth-child(odd){
	background: #2c2c2c;
}
.rating{
	max-width: 250px;
	width: 100%;
	text-align: center;
	display: inline-block;
}
.numb{
	display: inline-block;
	margin-right: 15px;
	font-weight: bold;
	padding: 15px;
}

.numb span{
	font-size: 25px;
}
.onshow{
	display: block;
}
.onhide{
	display: none;
}
.pointer{
	cursor: pointer;
}
.container .bracket-container {
	margin: 0 auto;
}
