@charset "UTF-8";
.full-container{
	padding: 0 2em;    
}
.full-container h1{
	width: 100%;
	text-align: center;
}
.full-container h2{
	width: 76%;
	display: inline-block;
	margin-bottom: 15px;
}
.full-container .bt-container{
	width: 45%;
	display: inline-block;
	text-align: right;
}
.flex-upcoming{
	display: flex;
}
.flex-upcoming .upcomming.side{
	width: 100%;
}
.card{
	padding-top: 15px;
}

.side{
	max-width: 308px;
	background: #2c2c2c;
	width: 100%;	
	border-radius: 5px;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	display: inline-block;
	margin-right: 15px;
	margin-top: 15px;

}
.side-img{
	height: 210px;	
    background-repeat: no-repeat !important;
    background-size: 100% !important;
}
.side img{
	border-radius: 5px 5px 0px 0px;
	width: 100%;	
}

.side table{
	width: 100%;
	text-align: left;
	padding: 15px 15px;
	border-bottom: 1px solid #666666;

}

.name-section{
	padding: 15px 15px;
	border-bottom: 1px solid #666666;
	color: #ffffff;
}
.prize-section{
	padding: 15px 15px;
	position: relative;	
}	
.prize-warp{
	background: #dd0000;
	max-width: 75px;
	padding: 5px;
	border-radius: 15px;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
	position: absolute;
	transform: translate(-50%,-100%);
	left: 50%;
	width: 100%;

}
.btn-full{
	width: 100%;
	text-align: center;	
	border-radius: 0px 0px 5px 5px;	
}
.btn-full .bg-red{
	padding: 15px;
	background: #dd0000;
	display: block;
	border-radius: 0px 0px 5px 5px;
	text-transform: uppercase;	
	text-align: center;
}
.in-container{
	position: relative;
}
.entry{
	position: fixed;
	z-index: 2;
	width: 40%;
	top: 25%;
	left: 28%;
	background: #7b7b7b;
	padding: 25px;
	margin: auto;
	border-radius: 5px;
	box-shadow: 0px 0px 22px #000000;
}
.entry h3{
	font-family: "russo one";
	font-size: 24px;	
}
.entry-step{
	padding: 20px;
}
.step-container{
	width: 73%;	
	margin: 25px auto;
}
.entry-step, .step-name{
	display: flex;
	justify-content: space-between;
}
.entry-step span{
	font-family: "russo one";
	background: #dd0000;
	display: block;
	width: 50px;
	height: 36px;	
	text-align: center;	
	border-radius: 50%;
	margin-left: 5px;
	text-align: center;
	padding-top: 7px;
}
.entry-step span:last-child{
	background: #2c2c2c;
}
.step-name span{
	font-family: "russo one";
}
.entry-step .separator{
	border-radius: 0;
	padding: 0;
	background: none;
	border-bottom: 1px solid #ffffff;
	width: 100%;
	height: 0;
	align-self: center;
}
.entry-price{
	display: flex;
	justify-content: space-between;
	width: 30%;
	margin-top: 15px;
}
.entry-price span{	
	font-size: 16px;
}
.entry-price span:last-child{
	color: #dd0000;
	font-family: "russo one"
}
.next-btn{
	width: 100%;
	text-align: right;
	margin-top: 15px;
}
.next-btn .btn:first-child{
	color: #000000;
	margin-right: 15px;
}
.next-btn .btn:first-child:hover{
	color: #ffffff;
}
.next-btn .btn{
	font-family: "russo one";
}