@charset "UTF-8";
.participate{
	padding: 25px 0px 0px;
}
.marg{
	
}
.part{
	padding: 3em 0em 3em 2em;
}
.undertitle{
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
}
.undertitle h2{
	font-family: "Russo One";
	font-weight: 100;
}
.undertitle:before{
	content:"";
	display: inline-block;
	width: 15px;
	height: 42px;
	background: #f2cf1d;
	float: left;
	margin-right: 10px;
}
.content{
	display: flex;		
}
.clear{
	display: none;
}
.block{
	background: #2c2c2c; 
	display: inline-block;
	width: 100%;  
    height: 160px;
    padding: 10px;    
    vertical-align: top;
    border-radius: 15px;    
    position: relative;
    margin-right: 15px;
}

.block p{
	font-family: "russo one";
}
.block p.legend{
	font-size: 12px;
	text-align: left;	
	display: inline-block;	
	padding: 5px 0;
	width: 81%;
	vertical-align: middle;
}
.block .info{
	position: absolute;
	bottom: 0;
	width: 92%;	
}
.block .info p{
	display: flex;
	font-size: 11px;
	font-weight: 200;	
}
.block.last{
	width: 100%;
    margin-right: 0;
    border-radius: 15px 0px 0px 15px;
}
.last p{
	text-transform: uppercase;
	font-size: 13px;
}
.gamecash{
	padding-top: 20px;	
}
.gamecash .lot p{
	display: inline-block;
	margin-right: 13px;
	width: 28.5%;
	text-align: center;
}
.gamecash .lot{
	width: 60%;
	display: inline-block;
	vertical-align: top;
	
}
.gamecash .more{
	display: inline-block;
	width: 35%;
	text-align: right;
	margin-right: 5px;
}
.gamecash .more a{
	font-size: 15px;
	text-transform: uppercase;
	background: #f2cf1c;
	padding: 10px 15px;
	border-radius: 15px;
	color: #010101;
	display: inline-block;
	margin-top: 12px;
}
.gamecash strong{
	font-family: "russo one";
	font-size: 30px;
	font-weight: 200;
}
.gamecash span{
	display: block;
}
.block-tournois{
	margin-top: 2em;
	padding: 3em 0em 3em 2em ;	
	background: #2c2c2c;
	
}
.block-tournois .block{
	background: #101010;
}
.block-tournois .undertitle{
	text-align: right
}
.block-tournois .undertitle:before{
	float: right;
	margin-left: 15px;
}
.iconGame{
	display: inline-block;
	vertical-align: middle;
	display: inline-block;
	float: right;
	margin-top: 2px;
}
.iconGame svg{	
	
	height: 19px;	
}
.sprite {
	background: url("../../assets/image/sprite.png") no-repeat;	
	display: inline-block;
	width: 23px;
	height: 34px;
	background-size: 81px 23px;
}
.inblock span{	
	padding: 5px 5px;	
}

.inblock i, .inblock span{
	display: inline-block;
	vertical-align: top;
}
.sprite.ticket{
	background-position: -56px 0px;
}
.sprite.cup{
	background-position: 0 0;
}
.sprite.calendar{
	background-position: -28px 0;
}
