@charset "UTF-8";
.communaute{
	padding-top: 30px;
}
.auto{	
	width: 90%;
	margin: auto;		
}
.aside-left{
	max-width: 250px;
	width: 100%;
	display: inline-block;
	padding-right: 15px;
	vertical-align: top;
	
}
.center-block{
	width: 58%;
	background: #2c2c2c;
	display: inline-block;
	margin-bottom: 15px;
	border-radius: 8px;
}
.center-block h2{
	padding: 15px 0;
	color: #ffffff;
	text-align: center;
	font-family: "Russo One";
	font-weight: lighter;
	text-transform: uppercase;

}
.aside-right{
	max-width: 250px;
	width: 100%;
	display: inline-block;
	padding-left: 15px;
	vertical-align: top;
}
.aside-right .friend-avatar{
	width: 25px;
	height: 25px;
	border:1px solid gray;
	border-radius: 50%;
}

.aside-right p, .aside-right span{
	font-size: 12px;
}
.aside-right p{
	
}
.aside-right p i{
	font-size: 20px;
}
.aside-right p i.rect{
	border: 1px solid #c4c4c4;
    padding: 1px;
    margin-right: 7px;
    display: inline-block;
    height: 16px;
    line-height: 10px;
    vertical-align: top;
    margin-top: 6px;
    font-size: 12px;
}
.aside-right p svg{

}

.aside-right .friend-list, .aside-right .subjectforum{
	background: #2c2c2c;
	padding: 5px 5px;
}
.subjectforum{
	border-bottom: 1px solid gray;
}
.subjectforum:last-child{
	border-bottom: none;
}
.subjectforum p{
	padding: 5px 5px;
	position: relative;
}
.subjectforum i{
	position: absolute;
	right: 5px;
	top: 0;
}
.friend-list{
	border-bottom: 1px solid gray;
}
.aside-right i.u-connected, .aside-right i.u-disconnected{
	display: inline-block;
	height: 7px;
	width: 7px;	
	border-radius: 50%;
	float: none !important;
	clear: both !important;
	margin-left: 15px;
	margin-top: 5px;
}
.aside-right i.u-connected{
	background: #1abb3d;
	border: 1px solid #1abb3d;
}
.aside-right i.u-disconnected{
	background: gray;
	border: 1px solid gray;	
}
.friend-list.noborder{
	border-bottom:none;
}
.aside-right .friend-list img{
	display: inline-block;
	vertical-align: middle;	
}
.aside-right .friend-list i{
	float: right;	
	display: inline-block;
	margin-right: 5px;

}
.friend-list span{
	display: inline-block;	
	margin-left: 5px;
	padding: 5px;
}
.aside-left .game-select{	

}
.game-select p{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;	
}

.aside-left .game-bg:last-child{
	border-bottom: none;
}
.game-select a {
    display: block;
    padding: 7px;
    background: #2c2c2c;
    margin-bottom: 2px;
    height: 39px;
    overflow: hidden;
    transition: 500ms ease-in-out;
}
.game-select a:hover{
	background: #4a4949;
	transition: 500ms ease-in-out;
	height: 171px;
}
.game-bg{	
    margin: auto;
    position: relative;
    margin-top: 5px;
}
.seek{
	position: absolute;
    width: 237px;
    right: -7px;
    top: 27px;
}
/*.bg-cod{	
	background: url("../../assets/image/warzone-logo.jpg") no-repeat;
	background-size: 100%;
	background-position-y: -26px;
}
.bg-rl{
	background: url("../../assets/image/rocketleague.jpg") no-repeat;
	background-size: 100%;
	background-position-y: -41px;
}
.bg-ft{
	background: url("../../assets/image/fortnite.jpg") no-repeat;
	background-size: 100%;
	background-position-y: -13px;
}*/
.stream-container{
	margin-bottom: 15px;
}
.stream{
	background: #2c2c2c;
	margin-top: 15px;
	padding: 12px;
}
.streaming{
	max-width: 60px;
	width: 100%;
	display: inline-block;
}
.streaming img{	
	max-width: 65px;
    height: 48px;
}
.stream-info{	
	display: inline-block;
	margin-left: 15px;
    vertical-align: top;
}
.stream-info p{
	font-size: 12px;    
    padding: 1px 0px;
}
.streamgame{
	font-style: italic;
}
.stream .view{
	font-size: 11px;
}
.stream .view i{
	margin-left: 5px;
}
.center-block .actuality{
	width: 100%;
}
.center-block .article{
	width: 100%;
	margin-bottom: 15px;	
	padding-right: 15px;	

}
.center-block .article img{
	width: 40%;	
	float: left;
	vertical-align: top;
	background: red;
	border-radius: 5px;
	border: 1px solid #2c2c2c;
}
.center-block .article .text{
	float: right;
	width: 60%;	
	padding: 20px;
}
.center-block .article .text p.title{
	font-size: 20px;
}
.center-block .article p{
	font-size: 14px;
}

.center-block .article .readmore{
	font-weight: 700;
	font-size: 14px;
	color: #f5cc22;
	font-style: normal;
	text-transform: uppercase;
	padding: 15px 0;
}
.forum-container{
	margin-top: 15px;
}
