/*
  - Description:  Grid
  - Version:    1.0
*/

@charset "UTF-8";
/* CSS Document */

html{
	font-size:100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.clear{
    clear: both;
}
.bg-red.btn:hover, .bg-white.btn:hover{
  background: #000000;
  border-color: #dd0000;
  color: #dd0000;
}
.bg-white.btn:hover{
    border: 1px solid #ffffff !important;
    color: #ffffff;
}
.bg-white{
  border: 1px solid #ffffff !important;
}
.bg-yellow{
  background: #f2cf1c;
  border: 1px solid #f2cf1c !important;
}
.btn.bg-red{
  background: #dd0000;
  color: #ffffff;
  border: 1px solid transparent;
}
.light-gray{
  background: #131313;
}
.dark-gray{
  background: #101010;
}
.cl-yellow{
  color: yellow;
}
.cl-red{
  color: #dd0000;  
}
.dark-red{
  background: #602020;
}

.new-red {
	background: #cf0023
}
.new-green {
	background: #96b900;
}
.light-green{
  background: #216026
}
.btn{
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 5px;
  color: #010101;
  border:none;
}
.mg15{
  margin: 15px 0;
}
.italic{
  font-style: italic;
}
.bloc{
  display: block;
}
.center{
  text-align: center;
}
.mb15{
  margin-bottom: 15px;
}
.mgt10{
  margin-top: 15px;
}
.link-btn{
  color: #010101;
}
.connected .tag{
  display: inline-block;
}
.connected .bt-container{
  display: none;
}
.connected .join{
  display: none;
}
.join{
  display: block;
}
.bt-container{
  display: inline-block;
  float: none;
  padding: 5px 0px;
}
.login .main,.inscription .main,
.profil .main-content, .main
{
  padding-top: 66px;
}
.tag{
  display: none;
}
.imgresp{
  width: 100%;
}
.awesome{
  margin-right: 5px;
}
li{
  list-style: none;
}
a{
   text-decoration:none;
}
a:hover{

}
label{

}
textarea{

}
p{
    font-size: 16px;
 }
span{

}
h1{
  font-family: "russo one";
  font-weight: 200;
  font-size: 35px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.header{
  top: 0;
}
.header h1{
  padding-bottom: inherit;
}
.header{
  position: fixed;
  z-index: 99;
  width: 100%;
}

.container .service-container.mobile{
  display: none;
}
.container .league .tab-league{
  overflow: auto; 
}
.auto-scroll{
  height: 60vh;
  overflow: auto;
  position: relative;
}
/********** Fonts *********/
@font-face {
	font-family: 'Russo One';
    src: url('../../assets/fonts/russoone/RussoOne.eot');
    src: url('../../assets/fonts/russoone/RussoOne.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/russoone/RussoOne.woff2') format('woff2'),
        url('../../assets/fonts/russoone/RussoOne.woff') format('woff'),
        url('../../assets/fonts/russoone/RussoOne.svg#RussoOne') format('svg');
}
@font-face {
	font-family: 'quicksand regular';
    src: url('../../assets/fonts/quicksand/static/Quicksand-Regular.eot');
    src: url('../../assets/fonts/quicksand/static/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/quicksand/static/Quicksand-Regular.woff2') format('woff2'),
        url('../../assets/fonts/quicksand/static/Quicksand-Regular.woff') format('woff'),
        url('../../assets/fonts/quicksand/static/Quicksand-Regular.svg#RussoOne') format('svg');
}
/*********  Media query ***************/

@media screen and (max-width: 940px) {
  .admin .dashboard{
    display: block;
    width: 90%;
    margin: auto;
  }
  .admin .grid{
    display: inline-block;
    width: 48%;
    margin-bottom: 15px;
  }
  .App .layout-container .main-sidebar{    
    position: fixed;
    height: auto;
    /*width: 140px; */
    z-index: 9999;
    padding-top: 4.3em;
  }
  .App .layout-container .main-sidebar .logo{
    position: fixed;
    margin-left: 20px; 
    height: auto;
    line-height: inherit;
  }
 .layout-container .main-sidebar .logo img {
    max-height: 35px;
  }
  .main-sidebar ul{
    display: none;
  }
  .layout-container .no-mg-right{
    margin-right: 0;
  }
  .layout-container .mobile-menu{
    position: relative;
    display: none;
  }
  .layout-container .mobile-menu ul{
    display: block;
    background: #000000;
  }
  .mob-drpdwn{
    position: absolute;
    top: -38px;
    z-index: 9999;
    right: 18px;
  }
  .layout-container .main-sidebar li{
    padding: 12px;
  }
  .layout-container .side-menu{
    height: auto;    
  }
  .navbar .mobile-version{
    display: block !important;
  }
  .communaute .container .main .auto{
    display: block !important;
  }
  .body-content .column{
    display: block;
  }
  .column .response-filter,
  .response-filter-flag{
    display: block;
  }
  .ant-input-affix-wrapper .ant-input:not(:first-child){
    background: #2d2d2d;
    padding: 9px 40px;
    width: 100%;
    border-radius: 5px;
  }
  .response-status{
    position: relative;    
    padding: 15px 0px;
  }
  .column .response-filter-search{
    border-right: none;
    margin-bottom: 5px;
  }  
  .column .response-filter-flag,.column .response-filter-avis{    
    display: inline-block;    
    max-width: 320px;
    width: 100%;
  }
  .column .create-game{
    text-align: center;
  }
  .column .create-game button{
    width: 60%;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .body-content .body-card{
    display: block;
  }
  .body-content .card-title, .body-content .card-result{
    width: 119px;
    display: inline-block;
    vertical-align: top;
  }
  .auto-scroll{
    width: 866px;
    overflow: auto;
  }
  .sm-width{
    width: 866px;
  }
  
}
@media screen and (max-width: 720px) {
  .column .response-filter-flag,.column .response-filter-avis{
    max-width: inherit;
  }
  .column .show-status{
    width: 94%;
  }
  .column .response-filter input{
    width: 100%;
  }
  .column .response-filter-avis{
    padding: 0px 5px 5px;
  }
  .column .response-filter-flag{
    border-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .admin .grid{
    width: 100%;
  }

}

