@charset "UTF-8";
.league .tableau{
	max-width: inherit;
	width: 100%;
}
.league .tableau table{
	width: 75%;
	display: inline-block;
}
.league .tableau table th{
	padding: 21px 37px;
}
.league .tableau table td{
	text-align: center;
}
.league .startleague{
	width: 20%;
	display: inline-block;
	vertical-align: top;
}
.startleague .btn{
	display: block;
	text-align: center;
	margin-bottom: 15px;
}
.startleague p{
	margin-bottom: 15px;
}
.bg-white{	
	color: #ffffff;
}
.league .tabs-content{
	margin: 0;
}
.league select{
	background: #101010;
	color: #ffffff;
	border: none;
}
.league .tab-bloc{
	border: none;
}
.league .tab-league{
	padding: 20px 16px;
	border: 1px solid gray;
    border-radius: 11px;
}
.league .tab-bloc th{
	border: none;
	color: inherit;
	border-radius: 0;
}
.league .tab-bloc tr:hover{
	background: #000000;
	
}
.league .tab-bloc td{
	border-radius: 0;
}
.league .tab-bloc td a{
	background: #f2cf1c;
	color: #000000;
}
.league .filter-bar{
	background: #403c3c;
	border-radius: 18px;
}
.league tr:nth-child(odd){
	background: none;
}
.platform-logo svg{
	float: right;
}
