@charset "UTF-8";
.block-center{
	width: 100%;
	padding: 4px 9px;
	margin: auto;

}
.search-container{
	padding: 15px;
}
.search-container h2{
	font-family: "russo one";
	font-weight: 500;
	font-size: 30px;
	color: #ffffff;
	float: left;
	margin-right: 60px;
	padding: 7px 0;
	border: 3px solid;
	border-left: none;
	border-right: none;
	border-top: none;
	width: 100%;
}
.search-box{

}
.search-box input{
	width: 72%;
	padding: 10px;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
}
.aside-menu{
	font-family: "arial";
	font-weight: 700;
	background: #101010;
	display: table-cell;
	vertical-align: top;
	padding: 20px;
	width: 18%;
	height: 100%;
	border-radius: 5px 0px 0px 5px;
}
.support{
	background: #101010;
	width: 913px;
	display: table-cell;
	vertical-align: top;
	color: #ccb0b0;
	font-family: "russo one";
	padding: 30px 18px;
	font-weight: lighter;
	border-radius: 0px 5px 5px 0px;
	height: 100vh;
	overflow: auto;
}
.assistance .support{
	height: auto;
}
.support-content{
	height: 54px;
    overflow: hidden;
}
.support p{
	margin-left: 5px;
}
.support .title{
	font-size: 16px;
}

.sup{
	padding-bottom: 15px;
	border-bottom: 2px solid #dd0000;
}
.sup p{
	font-size: 14px;
}
.link{
	margin-top: 15px;
	margin-bottom: 15px;
}
.list-link{
	border-right: 2px solid #dd0000;
}
.parent-link{
	margin: 15px 0;
}

.link a.active, .link a:hover, .link h3.active, .link h3:hover{
	color: #ffffff;
}
.link h3, .link h3 a{
	color: #ffffff;
    font-size: 15px;
    font-family: "russo one";
    position: relative;
    font-weight: lighter;
}
.link li a{
	color: #ffffff;
	font-size: 11px;

}
.under-title{
	padding: 30px 0;
	border-bottom: 2px solid #dd0000;
}
.under-title .clear{
	display: block;
}
.under-title:last-child{
	border-bottom: none;
}
.under-title p{
	font-size: 14px;
}
.under-title p.light{
	font-size: 14px;
}
.carre{
	width: 30px;
	height: 30px;
	background: #a7a7a7;
	display: inline-block;
	float: left;
	margin-left: 5px;
	margin-right: 15px;

}
.carre:first-child{
	margin-bottom: 10px;
}
.tuto-video{
	margin-top: 15px;
	width: 100%;
	text-align: center;
}
.tuto-video video{
	width: 49%;
}

.didacticiel {
	padding-top: 15px;
	font-family: "quicksand regular";
}
.didacticiel p{
	font-family: 'quicksand regular';
	padding-top: 15px;
	font-size: 14px;
}
.support-container{
	height: 77px;
	overflow: hidden;
}
.support-container .btn{
	font-family: "russo one"
}
.sup{
	position: relative;
}
.sup.reduce{

}
.sup i{
	float: right;
    position: absolute;
    top: 0;
    right: 9px;
    font-size: 24px;
}
.support-container.reduce
{
	height: auto;
}

.img-cadre{
	max-width: 350px;
	width: 100%;
	height: auto;
	margin: auto;
}
.img-cadre img{
	width: 100%;
}
.support-container .under-title{
	position: relative;
}
.support-container .under-title i{
	position: absolute;
	display: block;
	right: 10px;
	top: 15px;
	font-size: 24px;
}
/***********CONTACT***************/
.auto-height .support-container{
	height: auto !important;
}
.input-container label{
	margin-top: 15px;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
}
.input-container.side-by{
	display: flex;
}
.side-by .input-group{
	width: 100%;
	margin-right: 15px;
}
.side-by .input-group:last-child{
	margin-right: 0;
}
.input-container input,.input-container textarea{
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #9c9c9e;
	display: block;
	width: 100%;
	margin-top: 15px;
	background: #272727;
	color: #9c9c9e;
	font-size: 14px;
}
.input-container input:focus, .input-container textarea:focus{
	background: #a2a2a2;
	color: #000000;
}
#msg:placeholder{
	font-size: 14px;
}

.support .list-under-title{
	margin-top: 12px;
	margin-left: 12px;
}

.contact .contact-support {
	padding: 0;
}
