@charset "UTF-8";
.block-center{
	width: 94%;
	padding: 30px 15px;
	margin: auto;
	
}
.search-container{
	padding: 15px;	
}
.search-container h2{
	font-family: "Russo One";
	font-weight: 500;
	font-size: 30px;
	color: #f2cf1c;
	float: left;
	margin-right: 25px;

}
.search-box{

}
.search-box input{
	width: 70%;
	padding: 10px;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
}	
.aside-menu{
	font-family: "Russo One";
	font-weight: 500;
	background: #e3e3e3;	
	display: table-cell;
	vertical-align: top;
	padding: 20px;
	height: 100%;
}
.support{
	background: #ffffff;	
	width: 83.5%;
	display: table-cell;
	vertical-align: top;
	color: #212121;
	font-family: "Russo One";
	padding: 30px;
	font-weight: lighter;
}
.support p{
	margin-left: 5px;
}
.support .title{
	font-size: 16px;
}

.sup{
	padding-bottom: 15px;
	border-bottom: 2px solid #909090;
}
.sup p{
	font-size: 14px;
}

.link{
	margin-top: 7px;
}
.link a.active{
	color: #f2cf1c;
}
.link h3 a{
	color: #000000;
	font-size: 13px;
	font-weight: lighter;

}

.link li a{
	color: #26372f;
	font-size: 11px;

}
.under-title{
	padding: 20px 0;
	border-bottom: 2px solid #909090;
}
.under-title .clear{
	display: block;	
}
.under-title:last-child{
	border-bottom: none;
}
.under-title p{
	font-size: 12px;
}
.under-title p.light{
	font-size: 10px;
}
.carre{
	width: 30px;
	height: 30px;
	background: #2c2c2c;
	display: inline-block;
	float: left;
	margin-left: 5px;
	margin-right: 15px;
	
}
.carre:first-child{
	margin-bottom: 10px;
}
.tuto-video{
	margin-top: 15px;
	width: 100%;
	text-align: center;
}
.tuto-video video{
	width: 49%;
}