/*
Description:  Grid
Version:    1.0
*/
@charset "UTF-8";
/* CSS Document */

html{
	font-size:100%;
}

* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}
.clear{
    clear: both;
}
.bg-yellow{
  background: #f2cf1c;
}
.cl-yellow{
  color: yellow;
}
.btn{
  font-size: 14px;
  text-transform: uppercase;  
  padding: 10px 15px;
  border-radius: 5px;
  color: #010101;
  border:none;
}
.mg15{
  margin: 15px 0;
}
.italic{
  font-style: italic;
}
.bloc{
  display: block;
}
.center{
  text-align: center;
}
.mb15{
  margin-bottom: 15px;
}
.mgt10{
  margin-top: 15px;
}
.link-btn{
  color: #010101;
}

a{
   text-decoration:none;     
}
a:hover{
	
}
label{
	
}
textarea{ 
	
}
p{ 
    font-size: 16px;
 }
span{

}
h1{
  font-family: "russo one";
  font-weight: 200;
  font-size: 35px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.header h1{
  padding-bottom: inherit;
}
h2{

	
}
h1,
h2,
h3,
h4,
h5,
h6{
	
}
h2{

}
h3{ 

}
ul,
li{

}
h1{}

/********** Fonts *********/
@font-face {
	font-family: 'Russo One';
    src: url('../../assets/fonts/russoone/RussoOne.eot');
    src: url('../../assets/fonts/russoone/RussoOne.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/russoone/RussoOne.woff2') format('woff2'),
        url('../../assets/fonts/russoone/RussoOne.woff') format('woff'),
        url('../../assets/fonts/russoone/RussoOne.svg#RussoOne') format('svg');  
}
@font-face {
	font-family: 'quicksand regular';
    src: url('../../assets/fonts/quicksand/static/Quicksand-Regular.eot');
    src: url('../../assets/fonts/quicksand/static/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/quicksand/static/Quicksand-Regular.woff2') format('woff2'),
        url('../../assets/fonts/quicksand/static/Quicksand-Regular.woff') format('woff'),
        url('../../assets/fonts/quicksand/static/Quicksand-Regular.svg#RussoOne') format('svg');  
}
/*********  Media query ***************/
@media screen and (min-width: 1330px) {  


}
@media screen and (max-width: 1302px) {
  .home .content{
    display: block;
  }
  .home .block{    
    width: 16%;    
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 10px;
  }
  .home .block.last{    
    width: 15%;
    border-radius: 15px;
  }
  
}
@media screen and (max-width: 1296px) {
  .home .navmenu,
  .login .navmenu,
  .inscription .navmenu
  {
        width: 55%;
  }
  .home header.header .wrap,
  .wrap
  {
      padding: 3px 0px;
  }
  footer .wrap{
    padding: 3px 50px;
  }  
  .home .slogan{
      top: 38%;
  }
  .home p.title{
      font-size: 39px;
  } 
}
@media screen and (max-width: 1173px){
  .home .block,.home .block.last{
    width: 23%;
  }
}
@media screen and (max-width: 991px){
  .part{
   padding: 0 2em;
  }
  .home p.title{
      font-size: 23px;
  }
  .home .slogan{
      top: 44%;
  }
  .home .content{
  display: inherit;
  }
  .home .block  
  {
    width: 30%;
    display: inline-block;
    margin-bottom: 15px;
  }
  .home .block.last{
  width: 30%;
  margin-right: 0;
  border-radius: 15px;
  }
  .home .logo-game{
  width: 20%;
  }
  .home .actuality{
  width: 100%;
  display: block;    
  margin-bottom: 15px;
  }
  .home .article{
  width: 47%;    

  }
  .home .article img{
  width: 100%;
  }
  .home .clip{
  margin-bottom: 15px;
  margin-left: 0px;
  width: 100%;
  }
  .home .shop, .home .shop img{
  width: 100%;
  }
}
@media screen and (max-width: 827px){
  .home .header .wrap{
    text-align: right;
    padding-right: 5px;    
  }
  .home .header .dropdown{
    text-align: center;
    width: 90%;
  }
  .home .navmenu{
    display: none;
  }  
  .home .header .logo{
    float: left;
    margin: 5px 30px;
  }
  .home .header .tag{
    width: 60%;
    max-width: inherit;

  }
  .home .header .gametag{
    margin-right: 5px;
  }
}
@media screen and (max-width: 600px){

  .home .block,
  .home .block.last{
    width: 90%;
  }

}
@media screen and (max-width: 450px){
  .home .header .logo{
    float: none;
    clear: both;
  }
}
