/*
Description:  Grid
Version:    1.0
*/
@charset "UTF-8";
/* CSS Document */

html{
	font-size:100%;
}

* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}
.clear{
    clear: both;
}
a{
   text-decoration:none;     
}
a:hover{
	
}
label{
	
}
textarea{ 
	
}
p{ 
    font-size: 16px;
 }
span{

}
h2{

	
}
h1,
h2,
h3,
h4,
h5,
h6{
	
}
h2{

}
h3{ 

}
ul,
li{

}
h1{}

/********** Fonts *********/
@font-face {
	font-family: 'Russo One';
    src: url('../../assets/fonts/russoone/RussoOne.eot');
    src: url('../../assets/fonts/russoone/RussoOne.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/russoone/RussoOne.woff2') format('woff2'),
        url('../../assets/fonts/russoone/RussoOne.woff') format('woff'),
        url('../../assets/fonts/russoone/RussoOne.svg#RussoOne') format('svg');  
}
@font-face {
	font-family: 'quicksand regular';
    src: url('../../assets/fonts/quicksand/static/Quicksand-Regular.eot');
    src: url('../../assets/fonts/quicksand/static/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/quicksand/static/Quicksand-Regular.woff2') format('woff2'),
        url('../../assets/fonts/quicksand/static/Quicksand-Regular.woff') format('woff'),
        url('../../assets/fonts/quicksand/static/Quicksand-Regular.svg#RussoOne') format('svg');  
}
/*********  Media query ***************/
@media screen and (max-width: 1296px) {
    .home .navmenu{
          width: 55%;
    }
    .home header.header .wrap{
        padding: 3px 0px;
    }
    .home .slogan{
        top: 38%;
    }
    .home p.title{
        font-size: 39px;
    }    
    
}
@media screen and (max-width: 991px){
   .part{
     padding: 0 2em;
   }
   .home p.title{
        font-size: 23px;
   }
   .home .slogan{
        top: 44%;
   }
   .home .content{
    display: inherit;
   }
   .home .block{
        width: 30%;
        display: inline-block;
        margin-bottom: 15px;
   }
   .home .block.last{
    width: 31%;
    margin-right: 0;
    border-radius: 15px;
   }
}