
.streams-container{
	display: flex;
	border: 1px solid gray;
	border-radius: 5px;
	justify-content: center;
	margin-left: 12px;
	margin-right: 12px;
	height: 67.25vh;
}
.streams .main h2{
	font-family: "russo one";
	padding: 15px;
}
.streams-container .stream-video{
	width: 75%;
	height: 100%;
}
.streams-container video{
	width: 100%;
	height: 100%;
}
.live-tchat{
	background: #2c2c2c;
	width: 250px;
	margin-left: 5px;
	overflow: scroll;
}
.live-stream{
	padding: 0 15px;
}
.live-tchat .header-live p{
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid gray;
	color: gray;
	margin-bottom: 15px;
}
.live-content{
	height: 41vh;
	overflow-y: auto;
	word-wrap: break-word;
}
.live-content p{
	font-size: 13px;
	color: #3BFF80;
}
.live-content p span{
	color: #ffffff;
}
.send{
	position: relative;
}
.send p{
	padding: 7px;
	background: gray;
	border-radius: 5px;
	position: relative;
	font-size: 13px;
}
.send i{
	position: absolute;
	top: -18px;
	background: #101010;
	padding: 8px;
	border-radius: 5px;
	font-size: 13px;
	right: 0;
}
.edit-msg{
	margin: 15px 0;
	position: relative;
}
.edit-msg input{
	width: 100%;
	padding: 10px;
	background: gray;
	color: #ffffff;
	border-radius: 5px;
}
.edit-msg i{
	position: absolute;
	top: 8px;
	right: 8px;
}

.footer-live{
	display: flex;
	justify-content: space-between;
}
.footer-live p{
	display: flex;
	font-size: 12px;
}
.footer-live img{
	align-self: center;
	width: 25px;
	margin-right: 5px;
}
.footer-live span, .footer-live i{
	align-self: center;
	margin-right: 5px;
}
.footer-live button{
	background: #8E47FF;
	border: none;
	color: #ffffff;
	padding: 7px;
	border-radius: 5px;
	align-self: center;
}

.edit-msg .none-message {
	border:none;
}
.edit-msg .enter-message{
	border-color: #8E47FF;
	background-color: #101010;
}
