.settings .title-lead{
	display: flex;
}
.settings .menu-left{
	max-width: 200px;
	width: 100%;	
}
.settings .personal{
	width: 100%;
	padding-bottom: 25px;
}
.settings .menu-left li a{
	display: block;
	padding: 10px  0;
}
.settings .menu-left li.active_link{
	position: relative;
}
.settings .menu-left li.active_link:before{
	content:"";
	display: inline-block;
	height: 24px;
	width: 3px;
	background: #dd0000;
	position: absolute;
	top: 7px;
	left: -10px;
}
.settings .personal h3{
	border-bottom: 1px solid #dd0000;
	padding: 5px 0;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-family: arial;
	font-weight: lighter;
}
.settings .personal h2{
	font-family: "russo one";
	font-weight: lighter;
	padding-bottom: 10px;
}
.personal-field{
	margin-bottom: 20px;
}
.personal-field label{
	font-size: 10px;
}
.personal-field input, .personal-field select{
	background: none;
	color: #797979;
	border: none;
	border-bottom: 1px solid  #797979;
	display: block;
	padding: 5px 0;
	width: 100%;
	font-size: 13px;
}
.field-middle{
	display: flex;
}
.field-middle .field-container{
	margin-right: 5em;
	width: 100%;	
}
.field-container{
	margin: 10px 0;
}
.field-middle .field-container:last-child{
	margin-right: 0;
}
.rss-view{
	display: flex;
	margin-bottom: 20px;
}
.double{
	width: 100%;
	margin-right: 5em;
}
.double:last-child{
	margin-right: 0;
}
.reseau-container{
	display: flex;	
}
.rss-container{
	display: flex;
	width: 100%;
	margin-bottom: 5px;
}
.rss-container i{
	width: 50px;
	color: #ffffff;
	display: block;
	background: #2c2c2c;
	border: 1px solid #4a4a4b;
	align-self: center;
	font-size: 15px;
	padding: 10px;
	margin-right: 5px;
	border-radius:5px;
	text-align: center;
}
.rss-container p{
	font-family: arial;
	align-self: center;
	width: 100%;	
}
.rss-container p strong{
	font-size: 10px;
	font-weight: inherit;
}
.rss-container p span{	
	display: block;
	font-size: 12px;
	color: #797979;
	border-bottom: 1px solid #797979;
	line-height: 14px;
	margin-bottom: 8px;
}
/****************************************************************/
.jackpot .personal{
	display: flex;
	width: 100%;

}
.jackpot .historical{
	width: 58%;
	margin-right: 15px
}
.jackpot .pay{
	width: 40%;
}
.jackpot .pay h3{
	
}
.jackpot .total{
	display: flex;
	padding: 5px 0;
	border-bottom: 1px solid #797979;
	margin-bottom: 5px;
}
.jackpot .total span{
	width: 100%;
	color: #ffffff;
	font-size: 13px;
}
.jackpot .historical p{
	text-align: center;
	font-size: 14px;
	color: #797979;
}
.jackpot .credit{
	padding: 7px 0px;
}

.jackpot .personal-infos p{
	color: #ffffff;
	text-align: left;
	font-size: 14px;
	padding-top: 15px;
	margin-bottom: 10px;
}
.jackpot .personal-infos p span{
	display: block;
	color: #797979;
	border-bottom: 1px solid #797979;	
}
/******************************************/
.mygames .personal{
	display: block;	
}
.mygames h3{
	width: 93%;
}
.mygames .personal-infos{
	display: block;
	width: 100%;
}
.mygames .historical{
	width: 93%;
}
.mygames .historical span{
	border-bottom: 1px solid #797979;
	display: block;
}
.mygames .data-perso p{
	font-size: 13px;
}
.mygames .data-perso span{
	font-size: 12px;
}
.mygames .personal-infos p:last-child{
	padding-top: 0;
}
.mygames .account-games{
	display: flex;
}
.mygames .account-games .data-perso{
	margin-right: 15px;
}
.mygames .account-games div{
	width: 250px;
	align-self: top;	
}
.mygames .mygame-list{
	display: flex;
	align-self: center;
	margin-top: 20px;
}
.mygames .mygame-list img{
	margin-right: 15px;
	width: 115px;
	border: 1px solid #797979;
}
.mygames .mygame-list img:last-child{
	margin-right: 0;
}
.personal-infos button{
	margin-top: 20px;
}
.personal-account{
	margin-bottom: 20px;
}
/******Active link****************/
#infos,
#cagnotte,
#jeux,
#team
{
	position: relative;	
}
.mes_infos #infos:before,
.cagnotte #cagnotte:before,
.mes_jeux #jeux:before,
.mes_equipes #team:before
{
	content:"";
	display: inline-block;
	height: 24px;
	width: 3px;
	background: #dd0000;
	position: absolute;
	top: 7px;
	left: -10px;
}
/***************************************/
.my_team{
	background: #dd0000;
	margin-top: 25px;
	padding: 15px;
	text-align: center;
	max-width: 235px;
	width: 100%;
	border-radius: 5px;
	margin-right: 15px;
}
.my_team strong{
	font-family: "russo one";
	color: #000000;
	display: block;
	padding: 15px;
}
.my_team p{
	color: #000000;
	font-family: "russo one";
}
.info_title{
	display: flex;
	justify-content: space-between;
}
.team_data{
	display: flex;
	justify-content: stretch;
}
.team_data p{
	width: 65px;
	font-size: 11px;
	text-align: right;
}
.info_title p{
	font-size: 11px;
	text-align: right;
}
.my_team{
	display: inline-block;
	vertical-align: middle;
}
.add_team{	
	width: 180px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 25px;
	margin-left: 25px;
	padding: 15px;
	text-align: center;
	cursor: pointer;
}
.add_team i{
	font-size: 40px;
	margin-left: 15px;
	display: block;
	margin-bottom: 15px;
}
.add_team p{
	font-family: "russo one";
	text-transform: uppercase;
}
.popup_team{
	position: fixed;
	background: #101010;
	padding: 25px;
	top: 35%;
	left: 35%;
	width: 35%;
	text-transform: center;
	margin: auto;
	text-transform: uppercase;
	font-family: "russo one";
}
.popup_team h3{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
	float: left;
	width: 96%
}
.title_popup i{
	float: right;
	cursor: pointer;
}
.popup_team p{
	text-align: center;
	margin-bottom: 15px;
}
.name_popup{
	clear: both;
}
.name_popup form{
	text-align: center;
}
.name_popup .btn{
	font-family: "russo one";
	cursor: pointer;
}
.popup_team input{
	border: none;
	width: 100%;
	padding: 15px;
	display: block;
	margin-bottom: 15px;
	border-radius: 5px;
}
.settings .main .containt{
	width: 93%;
}