@charset "UTF-8";

.relative{
	position: relative;
    display: inline-block;
    margin-top: 4px;
    padding-right: 10px;
}
.wrap{
	padding: 6px 45px;
	width: 100%;
	border-bottom : 2px solid #dd0000;
	background: #000000;
	display: flex;
}

.logo{
	max-width: 174px;
	width: 100%;
	margin-right: 5em;
	display: inline-block;
	vertical-align: middle;
	align-self: center;
}
.imglogo{
	width: 100%;
}
.navmenu{
    text-align: center;
    vertical-align: middle;
    margin-bottom: 5px;
    width: 100%;
    align-self: center;
}
.navmenu li{
	display: inline-block;
	padding: 0 18px;
}
.navmenu li a{
	font-size: 17px;
	font-family: "russo one";
	transition: 100ms ease-in-out;
}
.navmenu li a:hover, .dropdown li a:hover, .loader span:hover{
	color: #dd0000;
	transition: 100ms ease-in-out;
}
.v-align{
	vertical-align: middle;
	display: inline-block;
}
.bt-container{
	width: 100%;
	max-width: 250px;
	float: right;
	margin-right: 10px;
}
.bt-container.right{
	text-align: right;
}
.bt-container.right a.btn{
	margin-right: 0;
}
.bt-container .btn.bg-yellow,.bt-container .btn.bg-red{
	display: inline-block;
	margin-right: 15px;
	margin-top: 2px;
	border: 1px solid #dd0000;
}
.tag{
    max-width: 386px;
    width: 100%;    
    vertical-align: middle;
}
.box{	
	width: 100%;
    display: flex;
    align-self: center;
    justify-content: right;
    text-align: right;
}
.add-team{
    left: -8px;
    top: 5px;
    margin-right: 3px;
    position: relative;
}
.add-team img{
	border-radius: 50%;
}
.lang{
 width: 28px;
 display: inline-block;
 vertical-align: middle;
 margin-right: 15px;
 position: relative;
}
.lang span a{
	display: block;
}
.lang.gb.show{
	display: block;
}
.lang.gb.hide{
	display: none;
	position: absolute;
	top: 35px;
	z-index: 2;
	padding: 5px;
	background: #000000;
	left: 0px;
	border: 1px solid #4c4d4f;
}
.connex{	
	display: inline-block;
    vertical-align: middle;
    display: flex;
    justify-content: right;
}
.gametag{
	max-width: 143px;
	width: 100%;
	display: inline-block;
	position: relative;
	border: 2px solid #4c4d4f;
	vertical-align: middle;
	border-radius: 36px;
	background-position: -2px;
}
.bg-gametag .avatar{
	width: 57px;
	height: 57px;
	border: 2px solid #4c4d4f;
	border-radius: 50%;
	float: left;
	position: absolute;
	left: -2px;
	top: -5px;
}
.bg-gametag p.user{
	width: 100%;
	text-align: right;
	padding-right: 4px;
	font-family: "russo one"
}
.bg-gametag a{
	display: inline-block;
}
.bg-gametag p{	
	font-size: 13px;
}
.user-setting{
	position: absolute;
	bottom: 0;
	right: 16px;
}
.itemTag{
	margin: 6px 3px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	position: relative;
	z-index: 3;
	height: auto;
}
.itemTag.joystick{
	margin-top: 9px;
}
.itemTag.drop{
	height: 15px;
}
.lang span{
	display: block;
}
.square{	
    cursor: pointer;
    margin-right: 26px;
    display: inline-block;
    line-height: 15px;
    vertical-align: top;
    margin-top: 6px;
    position: relative;
    float: left;
    border: 1px solid #4c4d4f;
    padding: 0px 2px;
    height: 18px;
    align-self: center;    
}
.connex .square:hover .tooltip,
.relative.bell:hover .tooltip,
.relative.member:hover .tooltip
{
	display: block;
}
.relative.bell .tooltip, .relative.member .tooltip{
    top: 44px;
    left: -36px;
}
.tooltip{
	display: none;
	position: absolute;
	top: 30px;
	left: -45px;
    background: #101010;
    width: 115px;    
    z-index: 2;
    font-size: 12px;    
    padding: 7px;
    border-radius: 4px;    
    text-align: center;
    box-shadow: 0px 0px 7px #333332;
    z-index: 9;
}
.tooltip:before{	
	content: "";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #101010;
	position: absolute;
	top: -10px;
	left: 42px;
}
.add-icon{
    padding: 1px;
    cursor: pointer;
    margin-right: 7px;
    display: inline-block;        
    padding: 2px;
    position: relative;    
    border: 1px solid #4c4d4f;    
}
.count{
	position: absolute;
    top: -9px;
    background: #dd0000;
    display: inline-block;
    width: 19px;
    text-align: center;
    font-style: normal;
    border-radius: 50%;
    left: 10px;
    font-size: 12px;
    padding: 4px;
}
.square svg{
	font-size: 10px;
}
.square .number, .relative .number{
	background: #dd0000;
    display: inline-block;
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    font-style: normal;
    font-size: 12px;
    padding-top: 5px;
    text-align: center;
    top: -13px;
    left: 63px;
    z-index: 2;
}
.relative .number{
	line-height: 9px;
	top: -7px;
    left: 60px;
}
.header .notification{
	display: none;
	position: absolute;
    background: #101010;
    right: 263px;
    top: 66px;
    padding: 8px;
    text-align: center;
   	border-radius: 0 0 5px 5px;
   	border: 1px solid gray;
   	opacity: 0;
   	transition: 300ms ease-in-out;

}
.header .notification.show{
	display: block;
	opacity: 1;
	transition: 300ms ease-in-out;
}
.header .notification p{
	font-size: 12px;
	padding: 5px;
	border-bottom: 1px solid gray;
	text-align: left;
	font-style: italic;
}
.header .notification p span.date{
	color: gray;
	margin-left: 5px;
	display: inline-block;
}
.header .notification p:last-child{
	border: none;
}
.header .notification .avatar-found{
	width: 40px;
	height: 40px;
}
.header .notification .profil-name{
	margin-right: 15px;
	font-size: 12px;
	font-style: normal;
}
.header .notification button{
	font-size: 10px;
    padding: 7px;
    color: #d8d8d8;
}
.header .notification .bg-white.gray{
	border-color: gray !important;
	color: gray;
}
.header .notification button svg{
	font-size: 13px;
	color: green;
}
.header .notification .bg-white.gray svg{
	color: red;
}
.header .notification button i{
	margin-right: 5px;
}
.header .notification img, .header .notification button{
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.header .invitation.show{
	display: block;
	padding: 15px;
	border-radius: 0px 0px 7px 7px;	
}
.header .invitation{
	max-width: 270px;
    width: 100%;
	display: none;
    background: #2c2c2c;    
    position: absolute;
    height: 85vh;    
    top: 66px;
    z-index: 2;    
    cursor: auto;
    right: 5px;    
    box-shadow: -6px 0px 62px #000000;
    overflow-x: auto;   
}
.header .invitation p{
	font-size: 13px;
    padding: 4px 0px;
    text-align: left;
}
.header .invitation p i{
	font-size: 16px;
	cursor: pointer;
}
.header .invitation .right-icon{
	float: right;
	font-size: 13px;
}
.header .invitation .i-right{
	position: absolute;
    top: 2px;
    right: 10px;
    margin-top: 14px;
}
.header .invitation .list-online{
	text-align: initial;
	margin-top: 5px;
	margin-left: 15px;
	font-size: 13px;
}
.header .friends-online{
	padding-bottom: 15px;
}
.header .friends-online p{
	cursor: pointer;
	font-style: italic;
}
.header .friends-online .list-online p{
	font-style: inherit;
}
.header .friends-online strong{
	font-weight: inherit;
	display: flex;
}
.header .list-online{
	height: 0;
	overflow: hidden;
}
.header .list-online.show{
	height: auto;
	overflow: auto;
}
.header .list-online p{
	position: relative;
	margin: 0 17px;
	border-bottom: 1px solid #4c4d4f;
}
.header .list-online p:last-child{
	border: none;
}
.header .list-online strong img{
	width: 40px;
	height: 40px;
	align-self: center;
	margin-right: 7px;
	border-radius: 50%;
}
.header .list-online strong span{
	align-self: center;
}
.relative svg{
	color: #fcfcfc;
	background: #bcbcbc;
	width: 31px !important;
	height: 32px;
	padding: 3px;
	border-radius: 50%;
}

.counter{
	position: absolute;
    top: -9px;
    background: #dd0000;
    display: inline-block;
    width: 19px;
    text-align: center;
    font-style: normal;
    border-radius: 50%;
    left: 10px;
    font-size: 12px;
    padding: 4px;
}
.bg-gametag{
	text-align: right;
	padding: 3px 10px;
	height: 48px;
}
.dropdown{
	display: none;
	width: 140px;
	position: absolute;
	background: #353333;
	padding: 5px 10px 15px 10px;
	top: 58px;
	left: 0px;
	z-index: 2;
	text-align: center;
	box-shadow: 0px 0px 7px #333332;
}

.dropdown.show{
	display: block;
}

.dropdown li a{
	margin-bottom: 5px;
	font-family: "russo one";
	display: block;
	padding: 0 5px;	
	transition: 100ms ease-in-out;
}

.dropdown.show .border{
	padding: 7px 0;
	margin: 5px 0; 
	border-bottom: 1px solid #dd0000
}

.hide {
	display: none;
}

i.u-connected{
	display: inline-block;
	height: 7px;
	width: 7px;	
	border-radius: 50%;
	float: none !important;
	clear: both !important;
	margin-left: 15px;
	margin-top: 5px;
	background: #1abb3d;
	border: 1px solid #1abb3d;
}
.loader div.d-none{	
	display: none;	
}
.loader div.loader-spinner{
	display: inline-block;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	padding-right: 5px;
}
.loader div svg{
	width: 18px;
	height: 25px;
}
.loader span{
	display: inline-block;
	font-family: "russo one"
}