.tchat{	
	position: fixed;
	background: #2c2c2c;
	max-width: 390px;
	width: 100%;
	height: 50%;	
}
.header .title-container{
	display: flex;
}
.header .title-container span{
	align-self: center;
}
.header .show-chat .tchat{
	width: 25%;
	height: 42%;
	position: fixed;
	bottom: 0;
	overflow: auto;	
	border-radius: 5px 5px 0px 0px;
}
.header .tchat-content .message img{
	height: 35px;
    margin-right: 5px;
    width: 35px;
}
.header .tchat-content .msg-received .content,
.header .tchat-content .msg-send .content
{
	position: relative;
}
.header .tchat-content .msg-received .content:before{
    content: "";
    display: block;
    position: absolute;
    left: -9px;
    border-top: 9px solid transparent;
    border-right: 10px solid #3e3d3d;
    border-bottom: 10px solid transparent;
    top: 8px;
}
.header .tchat-content .msg-send .content:before{
	content: "";
    display: block;
    position: absolute;
    right: -9px;
    border-top: 9px solid transparent;
    border-left: 10px solid #363636;
    border-bottom: 10px solid transparent;
    top: 8px;
}
.header .tchat-bar-dialog button{
	background: #7c7b7b;
	color: #ffffff;
	padding: 5px;
	margin-right: 0;
	border-radius: 0px;
}
.tchat i{
	font-size: 20px;
	padding: 5px;
}
.header .tchat-header{	
	display: flex;
	width: 24.8%;
	position: fixed;
    z-index: 2;
    background: #000000;
    padding: 4px 6px 10px;   
    border-radius: 5px 5px 0 0; 
}
.header .tchat-body{
	height: auto;
    padding-top: 50px
}
.tchat-icon{	
	display: inline-block;
}
.tchat-header span{	     
    display: inline-block;
    padding: 4px;
}
.header .close-tchat{		
    width: 100%; 
    margin-top: 5px;    
}
.tchat-content{
	padding: 15px 5px 40px 5px;
}
.msg-received, .msg-send{
	display: flex;
}
.header .msg-received{
	text-align: left;
}
.header .tchat-bar-dialog{
	width: 24.8%;
	position: fixed;
	bottom: 0;
}

.tchat-bar-dialog form{
	display: flex;
}
.header .tchat-content .content{
    background: #363636;
    padding: 15px;
    width: 240px;
    margin: auto;
    border-radius: 15px;
}
.header .tchat-content .msg-received .content{
    background: #3e3d3d;
    padding: 15px;
    width: 240px;
    margin: auto;
    border-radius: 15px;
}

.tchat-content .message{
	margin-bottom: 15px;
}
.tchat-content .message img{
	height: 35px;
	margin-right: 5px;
}
.tchat-content .content span{
	display: block;
	font-size: 10px;
	padding-top: 5px;	
	color: gray;
}
.tchat-bar-dialog input{
	width: 100%;
	padding: 10px;
	background: #4a4949;
	border: none;
	color: #ffffff;
}
.tchat-bar-dialog button{
	margin-right: 8px;
}
.tchat-bar-dialog .send{
	padding-right: 5px;
}
.close{
	display: none;
}


