.tchat .rcw-messages-container{
	background: #000000;
	overflow-y: auto;
}
.tchat .rcw-header{
	padding: 0;
	background: #4a4949;
}
.tchat .rcw-launcher{
	background: gray;
	box-shadow: 0 2px 10px 1px #232323;
}
.tchat .rcw-launcher .rcw-badge{
	background-color: #dd0000;
}
.tchat .rcw-widget-container{
	bottom: 50px;
}
.tchat h4{
	font-family: "quicksand regular";		
	font-weight: lighter;
}
.tchat .rcw-conversation-container .rcw-title{
	font-size: 18px;
}
.tchat .rcw-response .rcw-message-text{
	background: gray;
}
.tchat .rcw-message-text p{
	
}
.tchat .rcw-client .rcw-message-text{
	background-color: #2b3233;
}
.tchat .rcw-conversation-container{
	box-shadow: 0 1px 4px 1px #464646;
}
