@charset "UTF-8";
.content{	
	width: 100%;
	
	background-position: center top;
}
.main-pro{
	/*background: url("../../assets/image/ban1.jpg") no-repeat;	*/
	min-height: 100vh;	
	/*width: calc(100% - 240px);*/
	width: 100%;
	display: inline-block;	
	vertical-align: top;
	padding-top: 25px;	
	background-size: 100% 50%;
	/*background: red;*/
}
.wall-bloc{
	background: #101010;
	padding: 5px 3em 3em;	
}
.float{
	display: inline-block;
    width: 306px;
    vertical-align: middle;
    text-align: right;
}
.tabs{	
	width: 100%;
	text-align: center;	
	margin-bottom: 5px;
}
.tabs li{
	background: #2c2c2c;
	display: inline-block;	
	border-right: 1px solid #4e4e4e;	
}
.tabs li:first-child{
	border-radius: 5px 0px 0px 5px;
}
.tabs li:last-child{
	border-radius: 0px 5px 5px 0px;	
}

.tabs li a.active{
	color: #f2cf1d;
}
.tabs li:last-child{
	border-right: none;
}
.tabs li a{
	display: block;
	padding: 10px 30px;
	color: #ffffff;	
	font-weight: normal;	
}

.wall{	
	padding: 15px;
	background: #2c2c2c;
	border-radius: 15px;
}
.stat{
	
    display: inline-block;
    vertical-align: top;
    width: 380px;
    text-align: center;
}
.stat h2{
	text-align: center;
}
.cell h2, .float h2{
	font-size: 17px;
}
.cell p{
	font-size: 16px;
    margin-top: 8px;
}
.float{

}
.float p{	
	padding: 0;
	font-size: 13px;


}
.percent{
	width: 240px;	
	display: inline-block;
	vertical-align: top;

}

.myProgress{
	width: 100%;
	background: #24252c;
	border-radius: 5px;
}
.myBar{
	
	height: 5px;
	background: green;
	border-radius: 5px;
	
}

.main-pro h1{
	text-align: left;
}
.main-pro .avatar{
	width: 73px;
	display: inline-block;
}
.avatar .pseudo{
	margin-top: 10px;
}
.avatar-info{
	max-width: 750px;    
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.main-pro .avatar img{
	width: 100%;
}
.main-pro .premium{
	
}
.cell{
	display: table-cell;
    padding: 28px;    
    width: 23%;
}
.about-bloc{
	
}
.about-me{
	background: black;
    padding: 5em 3em;
}
.about-me input,textarea{
	background: none;
    border-bottom: 1px solid #acacac !important;
    width: 353px;
    margin-left: 50px;    
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    border: none;
    margin-bottom: 15px;

}
.field{
	text-align: center;
}
.profil h1{

}
.field h2{
	font-family: "russo one";
    font-size: 45px;
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 35px;
    font-weight: 200;
    text-transform: uppercase;
}
.btn-container{
	text-align: center;
	width: 100%;
	margin-top: 15px;
}
.aside{
	/*width: 240px;
	height: 100vh;
	background: red;
	min-height:  100vh;
	display: inline-block;
	vertical-align: top;*/
}
.my-games h2,
.my-teams h2,
.mes-tournois h2,
.profil h2
{
	font-family: "russo one";
    font-size: 45px;
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 35px;
    font-weight: 200;
    
}

.game-slide img{
	min-height: 100%;
	height: 200px;
}
.bt-game-container{
	position: relative;
	float: none;
	clear: both;
	margin-top: 50px;
	margin-bottom: 50px;
	display: block;	
	width: 100%;
	text-align: center;
}
.bt-game-container a{
	display: block;
	margin: auto;
	width: 193px;
}
.my-teams{
	background: #000000;
}
.team-mate{
	padding: 5px 3em 3em;
}
.team-bloc{
	background:#2c2c2c;
	max-width: 300px;
	width: 100%;	
	border-radius: 5px;
	padding-bottom: 

}
.imgcontainer img{
	border-radius: 5px 5px 0px 0px;
}
.team-logo{	
	width: 100%;    
    text-align: center;    
    background: #101010;
    border-radius: 0px 0px 5px;
    padding: 5px;
    display: inline-block;
    text-align: left
}
.team-name{	
	display: inline-block;
	width: 50%;
	vertical-align: top;
	padding: 25px;
	margin-left: 5px;
}
.popup-content .content img {
    width: 296px;
    display: inline-block;
    margin-bottom: 12px;
    padding-top: 47px;
    height: 100%;
    padding-bottom: 20px;
}
.popup-content h3{
	text-transform: uppercase;
    color: #000000;
    width: 50%;
    text-align: center;
}
.popup-content{
	border-radius: 8px !important;
    padding: 15px !important;
}	
.popup-content .btn{
	margin-right: 15px;
	cursor: pointer;
}
.mes-tournois{
	padding: 5px 0px 3em 3em;
}
.iconStatus{
	display: inline-block;
    margin-right: 5px;
}
.filter{
	text-align: right;
	padding: 15px 3.5em;
	border-top: 1px solid #212020;
}
.mes-resultats .filter{
	background: #2c2c2c;
	border-radius: 0px 0px 5px 5px;
}

.filter p{
	display: inline-block;
	font-size: 13px;
	color: #ffffff;

}
.filter p span{	
	display: inline-block;
	margin: 0 25px;
}
.filter i{	
	margin-left: 15px;
	color: #888888;
}
.iconPager{

}
.mes-resultats{
	background: #000000;
	padding: 5px 3em 3em;
}
.mes-tournois table,
.mes-resultats table
{
	width: 100%;	
	border-collapse: collapse;
}
.tab-content thead
{
	color: #888888;	
	font-style: italic;	
}
border
.mes-resultats .tab-content thead{
	border-bottom: 1px solid #888888 ;
}
.tab-content thead tr:hover{
	background: none;
	color: inherit;
}

.tab-content tr:hover{
	background: #f2cf1c;
	color: #000000;
}

.tab-content{
	width: 48%;
	display: inline-block;
	margin-right: 18px;
	background: #000000;
	border-radius: 5px;	
	vertical-align: top;

}
.tab-content strong{
	padding: 15px;
	width: 100%;
	text-align: center;
	display: block;
	border-bottom: 1px solid #212020;
	margin-bottom: 5px;
}

.mes-tournois table td,
.mes-resultats table td
{
	padding: 10px 20px
}
.mes-resultats table{
	background: #2c2c2c;
	border-radius: 5px;	
}
.mes-resultats .tab-content{
	width: 100%;
}
.mes-resultats .tab-content table{
	border-radius: 5px 5px 0px 0px;
}

.CircularProgressbar-path {
  stroke: red;
}
.CircularProgressbar-trail {
  stroke: gray;
}
.CircularProgressbar-text {
  fill: yellow;
}
.CircularProgressbar-background {
  fill: green;
}
.premium{	
	width: 100%;
	padding: 5px 0em 3em 3em;
}
.item-bloc{
	background: #2c2c2c;
	width: 23%;	
	margin-right: 20px;
	padding: 20px;
	text-align: center;
	display: inline-block;
	margin-bottom: 15px;
	border-radius: 5px;
	vertical-align: top;
}

.img-prem img{
	width: 75px;	
	display: block;
	height: auto;	
	margin:auto;
	margin-bottom: 15px;
}
.img-prem strong{
	display: block;
	padding: 10px;
	font-size: 13px;
}
.img-prem.fist img{
	padding-bottom: 11px;
}
.img-prem p{
	font-size: 14px;
}
.ht75{
	height: 75px !important;
}
