@charset "UTF-8";
.gamer-stats{
	max-width: 92.8%;
	width: 100%;
	padding-top: 35px;
	margin: auto;

}
.profil .container h2{
	font-family: "russo one";
	text-transform: uppercase;
	font-size: 20px;
	/*padding: 5px;	*/
	margin-bottom: 5px;
}
.profil .container h2 img{
	margin: 0 15px;
}
.profil .container h2 i{
	font-size: 17px;
	align-self: top;
	position: absolute;
	top: 0;
    top: 7px;
    right: 25px;
}
.content{
	width: 100%;
	background-position: center top;
}
.main-pro{
	display: flex;
	min-height: 100vh;
	width: 100%;
	vertical-align: top;
	padding-top: 0px !important;
	background-size: 100% 50%;

}
.stat-content{
	display: flex;
	width: 100%;
}
.wall-bloc{
	background: #101010;
	padding: 0 !important;
}
.wall{
	margin-bottom: 40px;
	background: #2c2c2c;
	border-radius: 43px;
	max-width: 440px;
	width: 100%;
	position: relative;
}
.float{
	display: inline-block;
    width: 306px;
    vertical-align: middle;
    text-align: right;
}
.gamer-profil{
	display: flex;
	align-items: center;
	padding: 10px 0;
	position: relative;
}
.gamer-profil .users-setting a{
	display: inline-block;
	margin-right: 10px;
}
.gamer-tag{
	padding: 0 15px;
	margin-left: 6em;
	display: flex;
	width: 100%;
}
.gamer-tag .grid{
	width: 100%;
}
.grid .full-w{
	width: 100%;
	display: flex;
}
.grid .full-w .external{
	position: absolute;
	right: 30px;
	top: 5px;
}
.grid .flag-container{
	width: 100%;
}
.grid .option-friend{
	margin-top: 15px;
}
.grid .option-friend select{
	padding: 10px;
	border-radius: 15px;
	border: 1px solid #ffffff;
	color: #ffffff;
	text-transform: uppercase;
}
.grid .option-friend select.ami{
	background: #27c612;
}
.grid .option-friend select.dmd{
	background: #dd0000;
}
.grid .full-w .external i{
	font-size: 15px;
}
.tabs{
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
}
.profil .tabs{
	position: fixed;
	top: 64px;
	z-index: 9;
}
.profil .main-content{
	/*padding-top: 110px;*/
}
.tabs li{
	background: #1b1d26;
	display: inline-block;
	border-right: 1px solid #4e4e4e;
}
.tabs li:first-child{
	border-radius: 5px 0px 0px 5px;
}
.tabs li:last-child{
	border-radius: 0px 5px 5px 0px;
}

.tabs li a.active{
	color: #dd0000;
}
.tabs li:last-child{
	border-right: none;
}
.tabs li a{
	display: block;
	padding: 10px 30px;
	color: #ffffff;
	font-weight: normal;
}

.stat{

    display: inline-block;
    vertical-align: top;
    width: 380px;
    text-align: center;
}
.stat h2{
	text-align: center;
}
.cell h2, .float h2{
	font-size: 17px;
}
.cell p{
	font-size: 16px;
    margin-top: 8px;
}
.float p{
	padding: 0;
	font-size: 13px;
}
.percent{
	width: 240px;
	display: inline-block;
	vertical-align: top;
}

.myProgress{
	width: 100%;
	background: #24252c;
	border-radius: 5px;
}
.myBar{

	height: 5px;
	background: green;
	border-radius: 5px;
}

.main-pro h1{
	text-align: left;
}
.main-pro .avatar{
	width: 111px;
	display: inline-block;
	align-self: center;
	position: absolute;
	left: -22px;
	top: 3px;
}
.setavatar{
	position: relative;
}
.setavatar label{
	display: none;
	position: absolute;
	width: 100%;
	top: 0%;
	height: 95%;
	text-align: center;
	background: rgba(0,0,0,0.5);
	border-radius: 50%;
	border: none;
}
.setavatar:hover label{
	display: block;
}
.setavatar label svg{
	position: relative;
	top: 44%;
	color: #ffffff;
}

.uploadFile{
	display: none;
}
.avatar .pseudo{
	margin-top: 10px;
}
.main-pro .avatar img{
	width: 100%;
	border-radius: 50%;
	border: 2px solid #4c4d4f;
}
.main-pro .premium{

}
.about-bloc{

}
.about-me{
	background: #000000;
    padding: 2em 3em;
    position: relative;
    overflow: hidden;
}
.about-me .col{
	max-width: 233px;
	display: inline-block;
	width: 100%;
	margin-right: 20px;
}
.about-me input{
	background: none;
    border: 2px solid #424242;
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    background: #2c2c2c;
}
.about-me input:focus,
.about-me select:focus
{
	background: #4a4a4a;
}
.group-input {
    max-width: 589px;
    width: 100%;
    padding: 15px 40px;
    display: inline-block;
    vertical-align: top;
    /*border-right: 1px solid #14151d;*/
}
.group-input:nth-child(2){
	border-right: none;
}
.about-me .group-input strong{
	margin-bottom: 10px;
	display: block;
}
.lang-container{
	width: 100%;
	top: 0px;
	border-radius: 5px;
}
.lang-setting i{
	display: block;
}
.lang-setting i svg{
	height: 60px;
	width: 50px !important;
}
.lgdrpdwn{
	display: block;
}
.little-icon{
	position: relative;
	left: -20px;
	padding: 15px;
	display: block;
}

/*.lang-setting:hover .lgdrpdwn{
	display: block;
	-webkit-transition: all 500ms ease-in-out;
}*/
.lgdrpdwn p{
	font-size: 14px;
}
.lgdrpdwn select{
	display: block;
	background: none;
    border: 2px solid #424242;
    background: #2c2c2c;
    width: 100%;
    padding: 15px;
    color: #acacac;
    font-size: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.lgdrpdwn p{
	text-align: left;
}
p.lg-desc{
	font-size: 12px;
	font-style: italic;
}
.lg-opt{
}

.field{
	/*text-align: center;*/
}
.account-game{
	padding: 5px 3em 3em;
	text-align: center;
}

.itemGame{
	max-width: 250px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	padding: 19px;
	text-align: center;
	background: #2b2b2b;
	margin-right: 15px;
	border-radius: 5px;
}
.itemGame img{

}
.itemGame p{
	margin-bottom: 15px;
}
.profil h1{

}
.field h2{
	font-family: arial;
    font-size: 45px;
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 35px;
    font-weight: 200;
    text-transform: uppercase;
}
.btn-container{
	text-align: center;
	width: 100%;
	margin-top: 15px;
}
.aside{
	/*width: 240px;
	height: 100vh;
	background: red;
	min-height:  100vh;
	display: inline-block;
	vertical-align: top;*/
}
.my-games h2,
.my-teams h2,
.mes-tournois h2
{
	font-family: "russo one";
    font-size: 45px;
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 35px;
    font-weight: 200;

}
.img-container-profil{
	display: flex;
	padding-top: 15px;
	width: 180px;
}
.img-container-profil p{
	height: 10px;
	background: #707070;
	width: 65%;
	border-radius: 5px;
	align-self: center;
}
.invisible, .visible{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
	align-self: center;
}
.visible{
	background :#27c612;
	margin-left: 5px;
}
.invisible{
	background: #00ceff;
	margin-right: 5px;
}
.img-container-profil img{
	align-self: center;
}
.uploadLogoteam{
	margin-top: 15px;
	position: relative;
}
.logoteam-container{
    position: absolute;
    width: 100%;
    top: 73%;
    text-align: center;
    overflow: hidden;
}
.setlogoTeam{
	width: 17%;
	position: relative;
	display: inline-block;
    vertical-align: middle;
}
.instruction{
	width: 73%;
    padding: 15px;
    display: inline-block;
}
.setlogoTeam label{
	position: absolute;
    background: #4e4e4e;
    width: 100%;
    left: 0px;
    text-align: center;
    height: 100%;
    padding-top: 50%;
    opacity: 0.5;
    border-radius: 5px;
    display: none;
}
.setlogoTeam:hover label{
	display: inline-block;
}

.uploadLogoteam img{
	width: 100%;
	height: auto;

}
.setlogoTeam
#setLogoTeam{
	display: none;
}
.game-slide img{
	min-height: 100%;
	height: 200px;
}
.bt-game-container{
	position: relative;
	float: none;
	clear: both;
	margin-top: 50px;
	margin-bottom: 50px;
	display: block;
	width: 100%;
	text-align: center;
}
.bt-game-container a{
	display: block;
	margin: auto;
	width: 193px;
}
.my-teams{
	background: #000000;
}
.team-banniere{
	position: relative;
}
.team-mate{
	padding: 5px 3em 3em;
}
.team-bloc{
	background:#2c2c2c;
	max-width: 430px;
	width: 100%;
	border-radius: 5px;
	padding-bottom:

}
.set-team{
	padding: 25px 5px 0px;
}
.set-team input{
	display: block;
	background: none;
    border-bottom: 1px solid #acacac !important;
    width: 100%;
    padding: 15px;
    color: #acacac;
    font-size: 15px;
    border: none;
    margin-bottom: 15px;
}

.imgcontainer img{
	border-radius: 5px 5px 0px 0px;
}
.team-logo{
	width: 100%;
    text-align: center;
    background: #101010;
    border-radius: 0px 0px 5px;
    padding: 5px;
    display: inline-block;
    text-align: left
}
.team-img{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 30%;
}
.team-name{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding: 10px;
	margin-left: 5px;
}
.team-name p{
	font-size: 14px;
}
.popup-content .content img {
    width: 296px;
    display: inline-block;
    margin-bottom: 12px;
    padding-top: 47px;
    height: 100%;
    padding-bottom: 20px;
}
.popup-content h3{
	text-transform: uppercase;
    color: #000000;
    width: 50%;
    text-align: center;
}
.popup-content{
	border-radius: 8px !important;
    padding: 15px !important;
}
.popup-content .btn{
	margin-right: 15px;
	cursor: pointer;
}
.mes-tournois{
	padding: 5px 0px 3em 3em;
}
.iconStatus{
	display: inline-block;
    margin-right: 5px;
}
.filter{
	text-align: right;
	padding: 15px 3.5em;
	border-top: 1px solid #212020;
}
.mes-resultats .filter{
	background: #2c2c2c;
	border-radius: 0px 0px 5px 5px;
}

.filter p{
	display: inline-block;
	font-size: 13px;
	color: #ffffff;

}
.filter p span{
	display: inline-block;
	margin: 0 25px;
}
.filter i{
	margin-left: 15px;
	color: #888888;
}
.iconPager{

}
.mes-resultats{
	background: #000000;
	padding: 5px 3em 3em;
}
.mes-tournois table,
.mes-resultats table
{
	width: 100%;
	border-collapse: collapse;
}
.tab-content thead
{
	color: #888888;
	font-style: italic;
}

.mes-resultats .tab-content thead{
	border-bottom: 1px solid #888888;
}
.tab-content thead tr:hover{
	background: none;
	color: inherit;
}

.tab-content tr:hover{
	background: #f2cf1c;
	color: #000000;
}

.tab-content{
	width: 48%;
	display: inline-block;
	margin-right: 18px;
	background: #000000;
	border-radius: 5px;
	vertical-align: top;

}
.tab-content strong{
	padding: 15px;
	width: 100%;
	text-align: center;
	display: block;
	border-bottom: 1px solid #212020;
	margin-bottom: 5px;
}

.mes-tournois table td,
.mes-resultats table td
{
	padding: 10px 20px
}
.mes-resultats table{
	background: #2c2c2c;
	border-radius: 5px;
}
.mes-resultats .tab-content{
	width: 100%;
}
.mes-resultats .tab-content table{
	border-radius: 5px 5px 0px 0px;
}

.CircularProgressbar-path {
  stroke: red;
}
.CircularProgressbar-trail {
  stroke: gray;
}
.CircularProgressbar-text {
  fill: yellow;
}
.CircularProgressbar-background {
  fill: green;
}
.premium{
	width: 100%;
	padding: 5px 0em 3em 3em;
}
.item-bloc{
	background: #2c2c2c;
	width: 23%;
	margin-right: 20px;
	padding: 20px;
	text-align: center;
	display: inline-block;
	margin-bottom: 15px;
	border-radius: 5px;
	vertical-align: top;
	transition: 300ms ease-in-out;
}
.item-bloc:hover{
	box-shadow: 5px 5px 5px #000000;
	transition: 300ms ease-in-out;
}
.img-prem img{
	width: 75px;
	display: block;
	height: auto;
	margin:auto;
	margin-bottom: 15px;
}
.img-prem strong{
	display: block;
	padding: 10px;
	font-size: 13px;
}
.img-prem.fist img{
	padding-bottom: 11px;
}
.img-prem p{
	font-size: 14px;
}
.ht75{
	height: 75px !important;
}
.account-name{
    width: 250px;
    display: inline-block;
    vertical-align: top;
}
.account-name span{
	padding: 0px 0px 10px;
}
.account-name span{
	display: block;
}
.account-name p .account-title{
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	font-weight: 500;
	text-transform: uppercase;
	font-family: "russo one";
	font-weight: lighter;
}
.account-name p{
	font-size: 12px;
	text-align: left;
}
.account-name .btn{
	font-size: 10px;
	padding: 8px;
}
.statistique{
	padding: 0px !important;
    background: none !important;
}
.with-stat{
	padding-right: 8px;

}
.with-stat div{
	position: relative
}
.with-stat p{
	position: absolute;;
	top: 0;
	padding: 15px;
	background: rgba(0,0,0,0.7);
	font-size: 14px;
	width: 100%;
	font-weight: bold;
	font-family: arial;
	text-transform: uppercase;
}
.with-stat img{

}
.with-stat span{
	float: right;
	text-transform: uppercase;
}
.start-game{
	max-width: 183px;
	width: 100%;
	position: relative;
}
.start span{
	position: absolute;
    background: rgba(0,0,0,0.95);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    bottom: 0px;
    left: 0;
    padding: 6px;
}
.start span svg{
	margin-right: 5px;
	font-size: 18px !important;
}
.start img{
	width: 100%;
	height: auto;
	position: inherit !important
}
.statistique{

}
.flexbox{
	display: flex;
	width: 100%;
	background: #2c2c2c;
	padding-right: 15px;
}
.profil .inblock span{
	padding: 1px 5px;
}
.info-container{
	width: 70%;
	margin-left: 16px;
	align-self: center;
}
.flex-items{
	display: flex;
	width: 100%;
	border-bottom: 1px solid #ffffff;
}
.flex-items p strong{
	display: flex;
}
.flex-items p strong span{
	font-weight: bold;
	margin-right: 5px;
}
.flex-items p strong span.lose{
	color: #dd0000;
}
.flex-items p strong span.win{
	color: #27c612;
}
.flex-items p strong span:last-child{
	margin-right: 0;
}

.flex-items:last-child{
	border-bottom: none;
}
.flex-items p{
	padding: 7px;
	width: 34%;
	font-size: 14px;
	font-weight: lighter;
}
.flex-items p span{
	display: block;
	font-weight: normal;
	padding: 5px 0;
	font-size: 13px;
	font-family: "quicksand regular";

}
.mon-mur{
	background: #2c2c2c;
	margin-left: 22px;
}
.wall-title .wall-bar-title{
	background: #000000;
	padding: 5px 10px;
	border: 2px solid #dd0000;
	border-top: none;
	display: flex;
}
.wall-title .wall-bar-title p{
	font-size: 13px;
	font-family: "russo one";
	align-self: center;
	width: 310px;

}
.wall-bar-title button{
	text-transform: inherit;
    font-size: 12px;
    padding: 7px;
    display: block;
    margin-right: 5px;
    align-self: center;
}
.wall-info{
	clear: both;
	padding: 5px;
	border: 1px solid #6f6f6f;
}
.wall-info .flexbox-items{
	display: flex;
}

.wall-info .upper{
	display: block;
	text-transform: uppercase;
}
.wall-info img{
	width: 46px;
	float: left;
	height: auto;
}
.tag-info{
	padding: 5px;
}
.tag-info span{
	font-size: 12px;
}
.tag-info div{
	float:left;
}
.tag-info .filter-right{
	float: right;
}
.tag-info .filter-right span{
	display: block;
    align-self: center;
    width: 50px;
    text-align: right;
}
.tag-info .filter-right i{
	font-size: 24px;
	align-self: center;
	color: #dd0000;
}
.media{
	display: flex;
}
.social{
	margin-top: 15px;
	margin-left: 13px;
	display: flex;
}
.social a{
	background: #2c2c2c;
	width: 44.5px;
	display: block;
	text-align: center;
	margin-right: 5px;
}
.social i{
	text-align: center;
	font-size: 17px;
	margin-left: 2px;
	align-self: center;
	display: block;
	padding: 5px;
	color: #ffffff;
	line-height: 34px;
}
.teamname{
	display: flex;
	width: 100%;
}
.bloc-team-mate{
	display: flex;
	background: #2c2c2c;
	margin-top: 15px;
	width: 100%;
}
.bloc-team-mate div{
	display: flex;
	align-self: center;
}
.bloc-team-mate .avatar-lead{
	width: 40px;
	height: auto;
}
.bloc-team-mate img{
	margin-right: 15px;

}
.avatar-name, .setting-accounts{
	display: flex;
}
.avatar-name{
	max-width: 680px;
	width: 100%;
	text-transform: uppercase;
	padding: 5px;
}
.setting-accounts, .team-number{
	max-width: 79px;
	width: 100%;
}
.team-number i{
	display: inline-block;
	background: white;
	padding: 5px;
	margin-left: 5px;
	border-radius: 50%;
	color: #000000;
}
.profil .part{
	padding: 0px;
	margin: 30px 0;
}
.profil .waggers-link a{
	width: 24%;
}
.profil .undertitle{
	text-transform: inherit;
}
.profil .undertitle h2{
	text-transform: inherit;
	font-size: 20px;
	text-align: left;
}
.profil .undertitle p{
	font-size: 13px;
}
.profil .join{
	padding-top: 15px;
}
.content.waggers-link{
	background: #333333;
}
.fixed{
	display: flex;
	background: #333333;
	padding: 7px 0px;
	box-shadow: 0px 3px 3px #201f1f;
}
.row-container{
	height: 240px;
	overflow: auto;

}
.fixed span, .row span{
	margin-right: 15px;
	width: 100%;
	text-align: center;
}
.row{
	display: flex;
	padding: 15px;
}
.mur .row-container{
	display: flex;
	height: 250px;
	overflow: scroll;
}
.mur .fixed span{
	text-align: left;
	width:100%;
}
.mur .fixed span:first-child{
	margin-left: 15px;
}
.mur .comments{
	display: flex;
}
.mur .row{
	display: block;
	width: 50%
}
.mur .note{
	display: flex;
	margin-bottom: 15px;
}
.mur .row-container .note p, .mur .comments p{
	text-align: left;
	font-size: 13px;
	margin-left: 15px;
	width: 100%;
}
.mur .row-container .note span, .mur .comments span{
	display: block;
	text-align: left;
	text-transform: uppercase;
}
.mur .icon{
	width: 15%;
	text-align: right;
	align-self: center;
}
.mur .icon i{
	font-size: 24px;
	color: #dd0000;

}

.comment-container{

}
.mur .comments{
	margin: 10px 0;
}
.mur .comments input{
	padding: 7px;
	font-size: 12px;
	background: #4b4b4b;
	border: none;
	color: #999999;
}
.mur .comments i{
	font-style: inherit;
	font-size: 10px;
	margin-left: 10px;
	text-transform: inherit important;
}
