@charset "UTF-8";
.container .league{
	/*padding: 5em 0px 0;*/
}
.container h2{
	text-transform: inherit;
	font-size: 32px;
}
.tabs-content{
	
	padding: 15px;
	margin: 35px 0; 
	border-radius: 5px;	
}
.tab-league{
	padding: 20px 35px;
}
.tab-league h3{
	font-size: 26px;
	font-weight: inherit;
	padding-bottom: 15px;
}
.tab-bloc{
	width: 100%;
	margin-top: 15px;	
	border-collapse: collapse;
	text-align: center;
	border-left: 1px solid #adadad;
	border-right: 1px solid #adadad;
	border-radius: 5px;
}
.tab-bloc th{
	padding: 5px 0;
	border: 1px solid #adadad;
	color: #adadad;
	font-weight: inherit;
	border-radius: 5px;
}
.tab-bloc td{
	padding: 5px 0;
	border-bottom: 1px solid #adadad;
	color: #797979;
	font-weight: bold;
	border-radius: 5px;
}
.tab-bloc td a{
	background: #797979;
	display: block;
	padding:5px;	
	text-align: center;
	border-radius: 15px;
	font-weight: normal;
	margin-right: 5px;
}
.custom-select{
	width: 50%;
	display: inline-block;	
	padding: 10px 10px	
}
.custom-select:last-child{
	text-align: right;
	padding-right: 6em;
}
.custom-select select{
	padding: 5px;
	max-width: 120px;
	width: 100%;
	border-radius: 15px;
	border-color: #adadad;
	background: #656565;
	color: #adadad;
}
.choices .jeux{
	background-image: none;	
	padding-bottom: 0px;
}
.side-infos thead td{
	color: #8c8cde;
}
/*/////////////////////////////////////////////////*/
.avatar{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #000000;
}
.container-rules .txt .calendar h2{
	font-size: 20px;
	font-weight: lighter;
	width: 100%;
	text-align: center;
}
.flex-group{	
}
.team-group{
	border: 1px solid #1b1d26;
	border-radius: 5px;
    width: 32.5%;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 15px;
    display: flex;
}
.groups{
	background: #1b1d26
}
.calendar .groups p{
	font-size: 18px;
	text-align: center;
	padding: 15px 0px;
	color: #ffffff;
	margin: 0px;
}
.group-name{
	display: flex;
	padding: 3px 5px;
	margin-right: 5px;
}
.group-name img, .group-name span{
	align-self: center;
	margin-right: 10px;	
}
.group-name span{
	font-size: 13px;
}
.tree-container{
	display: none;
}
.tree-container.show{
	display: block;
}
.container-rules .txt{
	/*height: 87vh;
	overflow: auto;*/
}
